@use '../../styles/mixins.scss';

.ydb-json-tree-with-search {
    position: relative;

    width: 100%;
    height: 100%;
    &__tree {
        @include mixins.json-tree-styles();
    }
    &__case {
        position: absolute;
        top: 0;
        left: 308px;
    }

    .json-inspector__search {
        height: 26px;
    }
}
