.ydb-table-keyboard-navigation__announcement {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 1px;
    height: 1px;
    padding: 0;

    white-space: nowrap;

    border: 0;
    clip-path: inset(50%);
}
