.tag {
    margin-right: 5px;
    padding: 2px 5px;

    font-size: 12px;
    text-transform: uppercase;

    color: var(--yc-color-text-primary);
    border-radius: 3px;
    background: var(--yc-color-base-generic);

    &:last-child {
        margin-right: 0;
    }

    &_type_blue {
        background-color: var(--yc-color-celestial-thunder);
    }
}
