$popup-width: 700px;

.kv-queries-history {
    $block: &;
    padding: 12px 16px;

    &__empty {
        font-weight: 600;
        text-align: center;
    }
    &__popup-wrapper {
        overflow: hidden;

        width: $popup-width;
        max-width: $popup-width !important;

        border-radius: 4px;
        :nth-child(2) {
            overflow-y: auto;

            max-height: 50vh;
        }

        &::before {
            width: $popup-width;

            border-radius: 4px;
        }
    }
    &__saved-queries-row {
        display: flex;
        align-items: center;

        padding: 8px 5px;

        border-bottom: 1px solid var(--yc-color-line-generic);
        &:hover {
            cursor: pointer;

            color: var(--yc-color-text-link-hover);
            background: var(--yc-color-base-simple-hover);
            #{$block}__query-controls {
                display: flex;
            }
        }
        &_header {
            font-weight: 600;
            &:hover {
                cursor: auto;

                color: var(--yc-color-text-primary);
                background: var(--yc-color-base-background);
            }
        }
    }
    &__query-body {
        overflow: hidden;
        flex-grow: 1;

        white-space: pre;
        text-overflow: ellipsis;
        &_header {
            display: flex;
            justify-content: center;
        }
    }
    &__query-controls {
        display: none;
    }
    &__control-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;

        color: var(--yc-color-text-hint);
        &:hover {
            color: var(--yc-color-text-secondary);
        }
    }
    &__dialog-query-name {
        font-weight: 500;
    }
}
