@import '../../styles/mixins.scss';

.ydb-nodes {
    &__search {
        @include search();
    }

    &__show-all-wrapper {
        position: sticky;
        left: 0;

        margin-bottom: 15px;
    }

    &__table {
        @include table-styles;
        @include table-sticky-styles;
    }

    &__node_unavailable {
        opacity: 0.6;
    }

    &__usage-label {
        &_overload {
            color: var(--yc-color-text-light-primary);
            background-color: var(--yc-color-base-danger-heavy);
        }
    }
}
