@import '../../styles/mixins.scss';

.ydb-nodes {
    &__search {
        @include search();
    }

    &__show-all-wrapper {
        position: sticky;
        left: 0;

        margin-bottom: 15px;
    }

    &__node_unavailable {
        opacity: 0.6;
    }

    &__groups-wrapper {
        padding-right: 20px;
    }
}
