@import '../../styles/mixins.scss';

.cluster-nodes {
    overflow: auto;

    &__search {
        width: 255px;
        margin: 0 15px 0 0;
    }

    &__controls {
        display: flex;
        justify-content: space-between;

        margin: 17px 0;
    }

    &__controls-left {
        display: flex;
        align-items: center;

        & > * {
            margin-right: 25px;
        }
    }

    &__show-all-wrapper {
        position: sticky;
        left: 0;

        margin-bottom: 15px;
    }

    &__table-wrapper {
        overflow: auto;
        @include flex-container();
    }

    &__table-content {
        overflow: auto;

        @include freeze-nth-column(1);
        @include freeze-nth-column(2, 80px);
        @include freeze-nth-column(3, 120px);

        @include table-styles;
        @include table-sticky-styles;
    }
    @include flex-container();
}
