@use '../../styles/mixins.scss';

.ydb-nodes {
    &__search {
        @include mixins.search();
    }

    &__show-all-wrapper {
        position: sticky;
        left: 0;

        margin-bottom: 15px;
    }

    &__node_unavailable {
        opacity: 0.6;
    }

    &__groups-wrapper {
        --nodes-side-padding: var(--g-spacing-5);
        width: calc(100% + var(--nodes-side-padding));
        padding-right: var(--nodes-side-padding);
    }
}
