.ydb-nodes-table {
    &__host-field-wrapper {
        display: flex;
    }

    &__host-wrapper {
        display: flex;

        max-width: 330px;
    }

    &__host {
        overflow: hidden;
    }

    &__external-button {
        display: none;

        margin-left: 4px;
    }
}

.data-table__row:hover {
    .ydb-nodes-table__external-button {
        display: inline-flex;
    }
}
