@import '../../../styles/mixins.scss';

:root {
    --information-popup-padding: 16px;
    --information-popup-header-padding: 16px;
}

.information-popup {
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 280px;
        padding: var(--information-popup-header-padding) 0 0 0;
    }

    &__docs,
    &__footer {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    &__docs {
        padding-bottom: 8px;
    }

    &__footer {
        position: relative;
        padding: 12px 0 8px;
        border-top: 1px solid var(--g-color-line-generic);
        background-color: var(--g-color-base-generic);
    }

    &__title {
        flex-shrink: 0;
        margin-bottom: 4px;
        padding: 4px var(--information-popup-padding);
    }

    &__docs-list-wrap {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__docs-link,
    &__shortcuts-item {
        display: flex;
        flex-grow: 1;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding: 8px var(--information-popup-padding);
        line-height: var(--g-text-body-1-line-height);

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }
    }

    &__shortcuts-item {
        justify-content: space-between;
    }

    &__docs-link {
        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;
            color: inherit;
            outline: none;
        }
    }

    &__item-icon-wrap {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    &__shortcuts-content {
        display: flex;
        align-items: center;
    }
}
