.tenant-tab-card {
    padding: var(--g-spacing-4) var(--g-spacing-5);

    cursor: pointer;

    border-radius: var(--g-border-radius-s);

    &_active {
        border: none;
        border-color: transparent;
    }

    &:not(&_active) {
        width: var(--metric-tab-card-width, 225px);
        height: var(--metric-tab-card-height, 70px);

        border: var(--tab-border-width) solid transparent;
        background-color: var(--g-color-base-generic);

        transition:
            border-color 0.15s ease,
            background-color 0.15s ease;

        &:hover {
            border-color: var(--g-color-line-generic-hover);
            background-color: var(--g-color-base-generic-hover);
        }
    }

    &_active {
        padding-bottom: calc(var(--g-spacing-4) + var(--tab-overlap));

        cursor: default !important;
    }
}
