.tenant-tab-card {
    border-radius: var(--g-border-radius-s);

    &__help-icon {
        color: var(--g-color-text-hint);
    }

    &__card-container {
        padding: var(--g-spacing-4);

        border: 0;
        border-radius: var(--g-border-radius-s);
    }

    &__card-container_clickable {
        cursor: pointer;

        // Smooth hover transition
        transition: background-color 0.15s ease;

        &:hover {
            background-color: var(--g-color-base-float-hover);
        }
    }

    &__card-container_active {
        cursor: default !important;

        &:hover {
            background-color: transparent;
        }
    }
}
