@import '../../../../../styles/mixins.scss';

.tenant-overview-storage {
    &__info {
        margin-bottom: 36px;
    }

    &__title {
        margin-bottom: 10px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 700;
        line-height: var(--yc-text-body-2-line-height);
    }

    &__table {
        width: var(--diagnostics-section-table-width);
        @include table-styles;

        &:not(:last-child) {
            margin-bottom: var(--diagnostics-section-margin);
        }

        th {
            height: 40px;

            vertical-align: middle;
        }
    }

    &__cell-with-popover-wrapper {
        display: flex;
    }

    &__cell-with-popover {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
