.ydb-node-endpoints-tooltip-content {
    .info-viewer__value {
        min-width: 70px;
    }
    &__list-container {
        padding-right: 20px;
    }
    &__definition {
        text-align: right;
        word-break: break-word;
    }
}
