.ydb-save-query {
    &__dialog-row {
        display: flex;
        align-items: flex-start;

        & + & {
            margin-top: var(--g-spacing-4);
        }
    }
    &__control-wrapper {
        display: flex;
        flex-grow: 1;

        min-height: 48px;
    }

    .g-dialog-footer {
        padding-top: var(--g-spacing-1);
    }
}
