.ydb-save-query {
    &__dialog-row {
        display: flex;
        align-items: flex-start;

        & + & {
            margin-top: var(--g-text-body-1-line-height);
        }
    }
    &__field-title {
        margin-right: 12px;

        font-weight: 500;
        line-height: 28px;
        white-space: nowrap;

        &.required {
            &::after {
                content: '*';

                color: var(--g-color-text-danger);
            }
        }
    }
    &__control-wrapper {
        display: flex;
        flex-grow: 1;

        min-height: 48px;
    }

    .g-dialog-footer {
        padding-top: 0;
    }
}
