.ydb-connect-to-db {
    &__dialog-tabs {
        margin-top: var(--g-spacing-4);
    }

    &__docs {
        margin-top: var(--g-spacing-4);
    }

    &__snippet-container {
        height: 270px;
    }
}
