.chat-input {
    width: 100%;

    &__container {
        position: relative;

        width: 100%;
    }

    &__field {
        width: 100%;

        .g-text-area__control {
            padding-right: 100px;

            resize: none;
        }
    }

    &__button-container {
        position: absolute;
        right: 6px;
        bottom: 4px;
    }

    &__send-button,
    &__stop-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        min-width: 80px;
        height: 36px;
    }
}

@media (max-width: 768px) {
    .chat-input {
        &__field .g-text-area__control {
            padding-right: 90px;
        }

        &__send-button,
        &__stop-button {
            min-width: 70px;
            height: 32px;
        }
    }
}
