@use '../../../../styles/mixins.scss';

.ydb-saved-queries {
    $block: &;

    --ydb-table-with-controls-layout-controls-height: 44px;

    overflow: auto;

    height: 100%;
    padding: 0 20px;

    @include mixins.flex-container();

    .ydb-table-with-controls-layout__controls {
        height: var(--ydb-table-with-controls-layout-controls-height);
        padding-top: 0;
    }

    &__search {
        @include mixins.search();
    }

    &__row {
        cursor: pointer;

        :hover {
            #{$block}__controls {
                display: flex;
            }
        }
    }

    &__query-name {
        overflow: hidden;

        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    &__query {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__query-body {
        overflow: hidden;
        flex-grow: 1;

        max-width: 100%;

        white-space: pre;
        text-overflow: ellipsis;
    }

    &__controls {
        display: none;
    }

    &__dialog-query-name {
        font-weight: 500;
    }
}
