@import '../../styles/mixins';

.tablets-filters {
    overflow: auto;

    max-height: 400px;
    @include flex-container();

    &__node {
        display: flex;
        flex-direction: column;

        font-size: var(--yc-text-body-font-size);
        line-height: var(--yc-text-body-line-height);
    }

    &__node-meta {
        color: var(--yc-color-text-secondary);
    }

    &__items {
        display: flex;
        overflow: auto;
        flex: 1 1 auto;
        flex-wrap: wrap;

        padding: 5px 20px;
    }

    &__items-wrapper {
        overflow: auto;
    }

    &__filters {
        display: flex;
        align-items: center;

        margin: 10px 0;
        padding: 0 20px;
    }

    &__filter-label {
        margin-right: 15px;

        white-space: nowrap;
    }

    &__filter-wrapper {
        display: flex;
        align-items: center;

        margin-right: 15px;
    }

    &__filter-control {
        min-width: 100px;
        max-width: 200px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__tablet {
        margin-bottom: 2px;
    }

    &__empty-message {
        display: flex;
        justify-content: center;
    }

    &__tenant {
        padding: 20px 20px 10px;
    }

    .tablet {
        display: inline-block;

        line-height: 18px;
        text-align: center;
    }
}
