@import '../../styles/mixins.scss';

.ydb-versions {
    $_: &;

    --ydb-info-viewer-font-size: var(--g-text-body-2-font-size);
    --ydb-info-viewer-line-height: var(--g-text-body-2-line-height);

    font-size: var(--ydb-info-viewer-font-size);
    line-height: var(--ydb-info-viewer-line-height);

    &__controls {
        display: flex;
        align-items: center;

        padding: 0 0 20px;

        #{$_} {
            &__label {
                margin-right: 10px;

                font-weight: 500;
            }

            &__checkbox {
                margin: 0;
            }
        }

        & > * {
            margin-right: 25px;
        }
    }
    &__overall-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;

        border: 1px solid var(--g-color-line-generic);
        border-radius: 10px;
    }
    &__overall-progress {
        height: 20px;

        line-height: 20px;

        border-radius: 5px;
        .g-progress__stack {
            height: 20px;

            line-height: 20px;
        }
    }
}
