.ydb-versions {
    $_: &;

    --ydb-info-viewer-font-size: var(--g-text-body-2-font-size);
    --ydb-info-viewer-line-height: var(--g-text-body-2-line-height);

    padding-right: var(--g-spacing-5);

    font-size: var(--ydb-info-viewer-font-size);
    line-height: var(--ydb-info-viewer-line-height);

    &__overall {
        margin-top: var(--g-spacing-4);
    }
}
