.ydb-diagnostics-table-info-status-icon {
    &__status-icon {
        display: inline-flex;
        align-items: center;

        &_state_ok {
            color: var(--g-color-base-positive-heavy);
        }

        &_state_no {
            color: var(--g-color-base-neutral-medium);
        }
    }
}
