@use '../../../../styles/mixins.scss';

.query-editor {
    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    height: 100%;

    @include mixins.query-data-table;

    & .data-table__box .data-table__table-wrapper {
        padding-bottom: 0;
    }

    &__monaco {
        position: relative;

        display: flex;

        width: 100%;
        height: 100%;

        border: 1px solid var(--g-color-line-generic);
    }

    &__monaco-wrapper {
        width: 100%;
        height: calc(100% - 49px);
        min-height: 0;
    }

    &__pane-wrapper {
        z-index: 2;

        display: flex;
        flex-direction: column;

        background-color: var(--g-color-base-background);

        &_top {
            padding: 0 16px;

            border-bottom: 1px solid var(--g-color-line-generic);
        }
    }
}
