@use '../../../../styles/mixins.scss';

.query-editor {
    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    height: 100%;

    @include mixins.query-data-table;

    & .data-table__box .data-table__table-wrapper {
        padding-bottom: 0;
    }

    &__monaco {
        position: relative;

        display: flex;
        flex: 1 1 auto;

        width: 100%;
        height: 100%;
    }

    &__monaco-wrapper {
        display: flex;
        flex: 1 1 auto;

        width: 100%;
        min-height: 0;
    }

    &__pane-wrapper {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;

        background-color: var(--g-color-base-background);

        &_top {
            padding: 0 16px;

            border-bottom: 1px solid var(--g-color-line-generic);
        }

        &_loading > *:not(.query-editor__editor-loader) {
            visibility: hidden;
        }
    }

    &__editor-loader {
        position: absolute;
        z-index: 1;
        inset: 0;

        display: flex;
        visibility: visible;
        justify-content: center;
        align-items: center;
    }
}
