@import '../../../../../styles/mixins.scss';

.kv-query-details {
    display: flex;
    flex: 1;
    flex-direction: column;

    color: var(--g-color-text-primary);
    background-color: var(--g-color-base-background-dark);

    &__content {
        overflow: auto;
        flex: 1;

        padding: var(--g-spacing-5) var(--g-spacing-4) var(--g-spacing-5) var(--g-spacing-4);
    }

    &__query-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: var(--g-spacing-2) var(--g-spacing-3);

        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__query-title {
        font-size: 14px;
        font-weight: 500;
    }

    &__query-content {
        position: relative;

        display: flex;
        flex: 1;
        flex-direction: column;

        margin-top: var(--g-spacing-5);

        border-radius: 4px;
        background-color: var(--code-background-color);
    }
}
