.nv-settings {
    display: grid;
    grid-template-columns: 216px 1fr;
    width: 834px;
    height: 100%;

    &_loading {
        grid-template-columns: auto;
    }

    &__loader {
        align-self: center;
        justify-self: center;
    }

    &__not-found {
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
    }

    &__menu {
        border-right: 1px solid var(--yc-color-line-generic);
    }

    &__heading {
        margin: 20px 20px 0;
        font-size: var(--yc-text-body2-font-size);
        line-height: var(--yc-text-body2-line-height);
        font-weight: 500;
    }

    &__search {
        margin: 12px 20px 16px;
    }

    &__page {
        padding: 20px;
        overflow-y: auto;
    }

    &__section {
        &-heading {
            margin: 0;
            font-size: var(--yc-text-body2-font-size);
            line-height: var(--yc-text-body2-line-height);
            font-weight: 500;

            &_badge {
                display: inline-block;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--yc-color-text-danger);
                    position: absolute;
                    right: -8px;
                    top: 1px;
                }
            }
        }

        &-item {
            margin-top: 24px;
        }

        & + & {
            margin-top: 32px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 216px 1fr;
        justify-items: start;

        &_align_top {
            align-items: start;
        }

        &_align_center {
            align-items: center;
        }
    }

    &__item-heading {
        &_badge {
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--yc-color-text-danger);
                position: absolute;
                right: -10px;
                top: 1px;
            }
        }
    }

    &__found {
        font-weight: 500;
        background: var(--yc-color-base-selection);
    }
}
