@use '../../../../../../styles/mixins.scss';

.manage-partitioning-dialog {
    &__body {
        padding-top: var(--g-spacing-3);
        padding-bottom: 0;
    }

    &__row {
        width: 100%;
    }

    &__hint,
    &__label {
        color: var(--g-color-text-secondary);
    }

    &__label {
        width: 100%;
        max-width: 80px;

        @include mixins.body-1-typography();
    }

    &__input {
        max-width: 212px;
    }
}
