.split-unit-select {
    &__select {
        margin-left: var(--g-spacing-1);
    }

    &__button {
        width: 100%;
    }

    &__button-content {
        width: 100%;
        height: 100%;
    }
}
