{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/import-order",
        "@gravity-ui/eslint-config/prettier",
    ],
    "root": true,
    "overrides": [
        {
            "files": ["config-overrides.js", "commitlint.config.js"],
            "env": {
                "node": true,
            },
        },
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
    },
    "rules": {
        "import/consistent-type-specifier-style": ["error", "prefer-top-level"],
        "@typescript-eslint/consistent-type-imports": [
            "error",
            {"prefer": "type-imports", "fixStyle": "separate-type-imports"},
        ],
    },
}
