.tablet-icon {
    display: flex;
    justify-content: center;

    width: 16px;
    height: 16px;

    font-size: 6px;
    line-height: 13px;
    font-weight: 600;

    border: 2px solid var(--yc-color-text-primary);
    border-radius: 4px;

    &__square {
        position: absolute;
        top: 0;
        left: 0;
    }
}
