.ydb-entity-status-new {
    &__note {
        color: inherit;
    }

    &_orange.g-label {
        color: var(--g-color-private-orange-500);
        background-color: var(--g-color-private-orange-100);
    }
}
