.speed-multimeter {
    display: flex;

    width: 100%;

    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: flex-end;

        line-height: 22px;
    }

    &__displayed-value {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        margin-right: 10px;
    }

    &__bars {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;

        width: 32px;
        margin-right: 5px;
    }

    &__bar-container {
        width: 100%;
        height: 6px;

        &_highlighted {
            background: var(--g-color-line-generic);
        }
    }

    &__bar {
        min-width: 2px;
        height: 100%;

        &_color_light {
            background: var(--g-color-base-info-medium);
        }

        &_color_dark {
            background: var(--g-color-base-info-heavy);
        }
    }

    &__bar-container + &__bar-container {
        margin-top: 2px;
    }

    &__popover-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__popover-header {
        display: block;

        margin-bottom: 7px;

        font-size: 18px;
        line-height: 24px;
    }

    &__popover-row {
        display: block;

        font-size: 13px;
        line-height: 18px;

        &_color_primary {
            color: var(--g-color-text-primary);
        }

        &_color_secondary {
            color: var(--g-color-text-secondary);
        }
    }
}
