.kv-save-query {
    &__dialog-row {
        display: flex;
        align-items: flex-start;

        & + & {
            margin-top: var(--yc-text-body-line-height);
        }
    }
    &__field-title {
        margin-right: 12px;

        font-weight: 500;
        line-height: 28px;
        white-space: nowrap;

        &.required {
            &::after {
                content: '*';

                color: var(--yc-color-text-danger);
            }
        }
    }
    &__control-wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    &__error {
        display: inline-block;

        height: 17px;

        color: var(--yc-color-text-danger);
    }
    &__embedded-tooltip {
        display: flex;
        align-items: center;

        height: 100%;
        margin-left: -10px;

        color: var(--yc-color-text-secondary);
        &:hover {
            cursor: pointer;

            color: var(--yc-color-text-complementary);
        }
    }

    &__embedded-popup {
        max-width: 150px !important;
        padding: 10px;

        border-radius: 5px;
        &::before {
            border-radius: 5px;
        }
    }
}
