.ydb-status-icon {
    &__status-color {
        &_state_green {
            background-color: var(--ydb-color-status-green);
        }
        &_state_yellow {
            background-color: var(--ydb-color-status-yellow);
        }
        &_state_blue {
            background-color: var(--ydb-color-status-blue);
        }
        &_state_red {
            background-color: var(--ydb-color-status-red);
        }
        &_state_grey {
            background-color: var(--ydb-color-status-grey);
        }
        &_state_orange {
            background-color: var(--ydb-color-status-red);
        }
    }

    &__status-icon {
        &_state_grey {
            color: var(--ydb-color-status-grey);
        }
        &_state_green {
            color: var(--ydb-color-status-green);
        }
        &_state_blue {
            color: var(--ydb-color-status-blue);
        }
        &_state_yellow {
            color: var(--ydb-color-status-yellow);
        }
        &_state_orange {
            color: var(--ydb-color-status-red);
        }
        &_state_red {
            color: var(--ydb-color-status-red);
        }
    }

    &__status-color,
    &__status-icon {
        display: inline-flex;
        flex-shrink: 0;

        border-radius: 3px;
        &_size_xs {
            aspect-ratio: 1;

            width: 12px;
            height: 12px;
        }
        &_size_s {
            aspect-ratio: 1;

            width: 16px;
            height: 16px;
        }
        &_size_m {
            aspect-ratio: 1;

            width: 18px;
            height: 18px;
        }

        &_size_l {
            width: 24px;
            height: 24px;
        }
    }
}
