.ydb-capacity-metrics-columns {
    &__green {
        color: #00b377;
    }
    &__cyan {
        color: #66e0ff;
    }
    &__lightyellowmove {
        color: #fbffb3;
    }
    &__yellowstop {
        color: #dae600;
    }
    &__lightorange {
        color: #baa600;
    }
    &__preorange {
        color: #996600;
    }
    &__orange {
        color: #803e00;
    }
    &__red {
        color: #660000;
    }
    &__black {
        color: #000000;
    }
}
