@use '../../styles/mixins.scss';

.ydb-error-boundary {
    --g-definition-list-item-gap: var(--g-spacing-1);

    padding: var(--g-spacing-8);

    &__error-stack {
        &-wrapper {
            overflow: auto;

            width: 800px;
            height: 430px;

            border-radius: var(--g-border-radius-xs);
            background-color: var(--code-background-color);
            scrollbar-color: var(--g-color-scroll-handle) transparent;
        }

        &-title {
            position: sticky;
            left: 0;

            padding: var(--g-spacing-2) var(--g-spacing-3);

            border-bottom: 1px solid var(--g-color-line-generic);
        }
        &-code {
            padding: var(--g-spacing-3) var(--g-spacing-3) var(--g-spacing-2);

            white-space: pre-wrap;
        }
    }

    &__qr-help-text {
        text-align: right;
    }
}
