@import '../../../../styles/mixins.scss';

.kv-query-explain {
    &__result {
        display: flex;
        overflow: auto;
        flex-grow: 1;
        flex-direction: column;

        margin-top: 20px;
        padding: 0px 8px;
    }
    &__controls {
        position: sticky;
        z-index: 2;
        top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 53px;
        padding: 12px 20px;

        border-bottom: 1px solid var(--yc-color-line-generic);
        background-color: var(--yc-color-base-background);
    }
    &__controls-right {
        display: flex;
        gap: 12px;

        height: 100%;
    }
    &__controls-left {
        display: flex;
        gap: 4px;
        .yc-button__text {
            margin: 0 6px;
        }
    }
    &__explain-canvas-container {
        overflow-y: auto;

        margin-bottom: 20px;
        &_hidden {
            display: none;
        }
    }
    &__inspector {
        overflow-y: auto;

        width: 100%;
        @include json-tree-styles();
        &
            .json-inspector__leaf.json-inspector__leaf_root.json-inspector__leaf_expanded.json-inspector__leaf_composite {
            max-width: calc(100% - 50px);
        }

        &_fullscreen {
            padding: 10px;
        }
    }

    &__ast {
        width: 100%;
        height: 100%;
        margin: 20px 0;

        white-space: pre-wrap;
    }
    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-top: 20px;
    }
}
