@import '../../../styles/mixins.scss';

.kv-top-queries {
    &__message-container {
        padding: 15px 0;
    }

    &__loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    @include query-data-table;

    &__owner-container {
        margin: 10px;

        .yc-staff-card {
            display: inline-block;
        }
    }

    &__text {
        font-size: var(--yc-text-body-font-size);
        line-height: var(--yc-text-body-line-height);
        color: var(--yc-color-text-primary);

        &::first-letter {
            color: var(--yc-color-text-danger);
        }
    }

    &__result &__table-content {
        & .data-table {
            &,
            &__table {
                width: 100%;
            }
            &__td {
                word-break: break-word;
                white-space: pre;
                vertical-align: top;
            }

            &__row {
                cursor: pointer;
                max-height: 80px;
            }
        }
    }
}
