.tenant-overview-top-tables {
    width: 872px;
    margin-bottom: var(--diagnostics-section-margin);

    &__path-cell-wrapper {
        display: flex;
    }

    &__path-cell {
        overflow: hidden;

        max-width: 772px;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__title {
        margin-bottom: 8px;

        font-weight: 700;
        font-size: var(--yc-text-body-2-font-size);
        line-height: var(--yc-text-body-2-line-height);
    }
}
