.ydb-query-explain-graph {
    &__canvas-container {
        overflow-y: auto;

        width: 100%;
        height: 100%;
        &_hidden {
            display: none;
        }
    }
    &__text-message {
        padding: 15px 20px;
    }
}
