@use '../../styles/mixins.scss';

.clusters {
    overflow: auto;
    gap: var(--g-spacing-4);

    padding: var(--g-spacing-4) var(--g-spacing-5) 0;

    @include mixins.body-2-typography();
    @include mixins.flex-container();

    &__autorefresh {
        margin-left: auto;
    }
    &__cluster-status {
        width: 18px;
        height: 18px;
        margin-right: 8px;

        border-radius: 3px;

        & span {
            display: flex;
            align-items: center;
        }

        &_type_green {
            background-color: var(--ydb-color-status-green);
        }
        &_type_yellow {
            background-color: var(--ydb-color-status-yellow);
        }
        &_type_blue {
            background-color: var(--ydb-color-status-blue);
        }
        &_type_red {
            background: var(--ydb-color-status-red);
        }
        &_type_grey {
            background: var(--ydb-color-status-grey);
        }
        &_type_orange {
            background: var(--ydb-color-status-orange);
        }
    }
    &__cluster-name {
        white-space: normal;
        text-decoration: none;

        color: var(--g-color-text-link);
    }
    &__cluster-versions {
        text-decoration: none;
    }
    &__cluster-version {
        overflow: hidden;

        text-overflow: ellipsis;
    }
    &__cluster-dc {
        white-space: normal;
    }

    &__control {
        width: 200px;
        margin-right: 15px;

        &_wide {
            width: 300px;
        }
    }
    &__empty-cell {
        color: var(--g-color-text-secondary);
    }
    &__tooltip-content {
        word-break: break-all;
    }

    & .g-progress__item {
        transition: none;
    }

    &__text {
        color: var(--g-color-text-primary);
        @include mixins.body-2-typography();

        &::first-letter {
            color: var(--g-color-text-danger);
        }
    }

    &__description {
        max-width: 200px;

        white-space: pre-wrap;
    }

    &__table-wrapper {
        overflow: auto;

        @include mixins.flex-container();
    }

    &__table-content {
        overflow: auto;

        height: 100%;
    }

    &__table {
        @include mixins.freeze-nth-column(1);
    }

    &__balancer-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__balancer-text {
        display: inline-block;
        overflow: hidden;

        max-width: 92%;
        margin-right: 5px;

        text-overflow: ellipsis;
        overflow-wrap: break-word !important;
    }
    &__balancer-icon {
        display: flex;
        align-items: center;
    }

    &__error {
        margin-left: 15px;
        @include mixins.body-2-typography();
    }

    &__remove-cluster {
        color: var(--ydb-color-status-red);
    }
}
