@use '../../styles/mixins.scss';

.ydb-clusters {
    @include mixins.body-2-typography();

    &__controls {
        padding-bottom: var(--g-spacing-2);
    }

    &__clusters-count {
        padding-bottom: var(--g-spacing-2);
    }

    &__cluster-name {
        white-space: normal;
        text-decoration: none;

        color: var(--g-color-text-link);
    }
    &__cluster-versions {
        text-decoration: none;
    }

    &__cluster-dc {
        white-space: normal;
    }

    &__empty-cell {
        color: var(--g-color-text-secondary);
    }

    & .g-progress__item {
        transition: none;
    }

    &__description {
        max-width: 200px;

        white-space: pre-wrap;
    }

    &__table-wrapper {
        --data-table-cell-align: top;
        --data-table-cell-vertical-padding: var(--g-spacing-3);
    }

    &__balancer-copy-icon {
        color: var(--g-color-text-secondary);
    }
    &__search-icon {
        margin: 0 var(--g-spacing-1);

        color: var(--g-color-text-secondary);
    }

    &__progress {
        --g-progress-filled-background-color: var(--ydb-color-status-green);
    }
}
