.nv-aside-header-logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    height: 32px;
    margin: 12px 0;

    font-family: 'Rubik', sans-serif;

    &__logo-btn-place {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;

        width: var(--nv-aside-header-min-width);
    }

    &__logo {
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        line-height: 20px;
        vertical-align: middle;
    }

    &__logo-link {
        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;

            color: inherit;
            outline: none;
        }
    }

    .yc-root &__btn-logo.button2_theme_flat.button2_hovered_yes::before {
        background-color: transparent;
    }
}
