.ydb-query-details {
    --g-definition-list-item-gap: var(--g-spacing-2);
    flex: 1;

    color: var(--g-color-text-primary);
    background-color: var(--g-color-base-background-dark);

    &__content {
        overflow: auto;
        flex: 1;

        padding: var(--g-spacing-5) var(--g-spacing-4) var(--g-spacing-5) var(--g-spacing-4);
    }

    &__query-details-info {
        flex-grow: 0;
    }

    &__query-content {
        --ydb-syntax-highlighter-height: 100%;

        flex: 1;

        margin-top: var(--g-spacing-5);
    }
}
