@use '../../styles/mixins.scss';

.popup2 {
    max-width: 300px;

    animation: none !important;
}

.node-tootltip,
.histogram-tooltip {
    padding: 10px;

    &__label {
        padding-right: 15px;

        color: var(--g-color-text-secondary);
    }
}

.cell-tooltip {
    padding: 10px;

    word-break: break-word;
}
