.ydb-query-duration {
    display: flex;
    align-items: center;

    margin-left: 10px;

    color: var(--g-color-text-complementary);

    &__item-with-popover {
        display: flex;

        white-space: nowrap;
    }

    &__popover {
        display: flex;
        align-items: center;
    }

    &__popover-content {
        max-width: 300px;
    }

    &__popover-button {
        display: flex;
    }
}
