.ydb-query-duration {
    display: flex;
    align-items: center;

    margin-left: 10px;

    color: var(--yc-color-text-complementary);

    &__item-with-popover {
        white-space: nowrap;
    }

    &__popover {
        max-width: 300px;
    }
}
