.storage-disk-progress-bar {
    $border-width: 2px;
    $outer-border-radius: 4px;
    $inner-border-radius: $outer-border-radius - $border-width;

    $block: &;
    position: relative;

    display: inline-block;

    width: 100%;
    height: var(--yc-text-body-2-line-height);

    vertical-align: top;

    border: $border-width solid var(--yc-color-infographics-misc-heavy);
    border-radius: $outer-border-radius;
    background-color: var(--yc-color-infographics-misc-light);

    #{$block}__filled {
        background-color: var(--yc-color-infographics-misc-medium);
    }

    &_green {
        border-color: var(--yc-color-infographics-positive-heavy);
        background-color: var(--yc-color-infographics-positive-light);
        #{$block}__filled {
            background-color: var(--yc-color-infographics-positive-medium);

            .yc-root_theme_dark & {
                // the common medium green is too bright for this case
                background-color: rgb(124, 227, 121, 0.4);
            }
        }
    }

    &_blue {
        border-color: var(--yc-color-infographics-info-heavy);
        background-color: var(--yc-color-infographics-info-light);
        #{$block}__filled {
            background-color: var(--yc-color-infographics-info-medium);
        }
    }

    &_yellow {
        border-color: var(--yc-color-infographics-warning-heavy);
        background-color: var(--yc-color-infographics-yellow-light);
        #{$block}__filled {
            background-color: var(--yc-color-infographics-yellow-medium);
        }
    }

    &_orange {
        border-color: var(--yc-color-base-warning-orange);
        background-color: var(--yc-color-infographics-warning-light);
        #{$block}__filled {
            background-color: var(--yc-color-infographics-warning-medium);
        }
    }
    &_red {
        border-color: var(--yc-color-infographics-danger-heavy);
        background-color: var(--yc-color-infographics-danger-light);
        #{$block}__filled {
            background-color: var(--yc-color-infographics-danger-medium);
        }
    }

    &__filled {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        border-radius: $inner-border-radius 0 0 $inner-border-radius;

        #{$block}_inverted & {
            right: 0;
            left: auto;

            border-radius: 0 $inner-border-radius $inner-border-radius 0;
        }
    }
    &__filled-title {
        position: absolute;
        z-index: 2;

        font-size: var(--yc-text-body-1-font-size);
        // bar height minus borders
        line-height: calc(var(--yc-text-body-2-line-height) - #{$border-width * 2});

        color: inherit;
    }

    &__link {
        display: flex;
        justify-content: center;

        // extend active area to include borders
        height: var(--yc-text-body-2-line-height);
        margin: -$border-width;
        padding: $border-width;

        color: inherit;
        border-radius: $outer-border-radius;

        &:hover {
            color: inherit;
        }
    }
}
