.ydb-resizeable-data-table {
    width: max-content;

    // padding for easier resize of the last column
    padding-right: 20px;

    &__row-skeleton {
        width: 100%;
        height: 50%;
    }

    &__row-skeleton::after {
        animation: none !important;
    }
}
