@import '../../../../styles/mixins.scss';

.ydb-saved-queries {
    $block: &;

    overflow: auto;

    height: 100%;
    padding: 0 16px;

    @include flex-container();
    @include table-styles;

    &__row {
        cursor: pointer;

        :hover {
            #{$block}__controls {
                display: flex;
            }
        }
    }

    &__query-name {
        overflow: hidden;

        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    &__query {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__query-body {
        overflow: hidden;
        flex-grow: 1;

        max-width: 100%;

        white-space: pre;
        text-overflow: ellipsis;
    }

    &__controls {
        display: none;
    }

    &__control-button {
        display: flex;

        width: fit-content;
        margin-left: 5px;

        cursor: pointer;

        color: var(--yc-color-text-hint);
        &:hover {
            color: var(--yc-color-text-secondary);
        }
    }

    &__dialog-query-name {
        font-weight: 500;
    }
}
