.tablets-statistic {
    display: flex;
    align-items: center;

    &__tablet {
        // min-width: 20px;
        padding: 2px 4px;
        height: 20px;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        line-height: 14px;
        color: var(--yc-color-text-complementary);
        text-transform: uppercase;
        font-size: 10px;
        margin-right: 4px;
        text-decoration: none;
        border: 1px solid var(--yc-color-base-generic-medium-hover);

        &_state_green {
            background-color: var(--yc-color-base-positive-heavy);
        }
        &_state_yellow {
            background-color: var(--yc-color-base-warning-heavy);
        }
        &_state_blue {
            background-color: var(--yc-color-base-info-heavy);
        }
        &_state_orange {
            background: var(--yc-color-text-warning-heavy);
        }
        &_state_red {
            background: var(--yc-color-base-danger-heavy);
            color: var(--yc-color-text-light-primary);
        }
        &_state_gray {
            background: var(--yc-color-text-complementary);
            color: var(--yc-color-text-light-primary);
        }
    }
}
