.tablets-statistic {
    display: flex;
    align-items: center;
    gap: 2px;

    &__tablet {
        display: inline-block;

        height: 20px;
        padding: 0 4px;

        font-size: 11px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        color: var(--yc-color-text-secondary);
        border: 1px solid;
        border-radius: 2px;

        &_state_green {
            color: var(--yc-color-text-positive);
            background-color: var(--yc-color-base-positive);
        }
        &_state_yellow {
            color: var(--yc-color-text-warning-medium);
            background-color: var(--yc-color-base-warning);
        }
        &_state_blue {
            color: var(--yc-color-text-info);
            background-color: var(--yc-color-base-info);
        }
        &_state_orange {
            color: var(--yc-color-text-warning-heavy);
            background-color: var(--yc-color-infographics-warning-light);
        }
        &_state_red {
            color: var(--yc-color-text-danger);
            background: var(--yc-color-base-danger);
        }
        &_state_gray {
            color: var(--yc-color-text-secondary);
            border: 1px solid var(--yc-color-line-generic-hover);
        }
    }
}
