@import '../../styles/mixins.scss';

.pool {
    @include container-fluid();

    &__row {
        display: flex;
    }

    &__title {
        margin-right: 16px;

        font-size: var(--yc-text-body2-font-size);
        font-weight: 500;
        line-height: var(--yc-text-body2-line-height);
        text-transform: uppercase;

        &_groups {
            margin-right: 32px;
        }
    }

    &__controls {
        display: flex;
        align-items: center;

        margin: 25px 0 10px;
    }

    &__breadcrumbs {
        padding: 20px 0;

        font-size: var(--yc-text-body2-font-size);
    }
}
