.kv-fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: var(--nv-aside-header-size);

    display: flex;
    overflow: hidden;
    flex-grow: 1;

    width: calc(100% - var(--nv-aside-header-size));
    height: 100%;

    background-color: var(--yc-color-base-background);

    &__close-button {
        position: fixed;
        z-index: 11;
        top: 8px;
        right: 20px;
        .yc-button__text {
            display: flex;
            align-items: center;

            margin: 0 6px;
        }
    }
}
