@import '../../../styles/mixins.scss';

.query-editor {
    position: relative;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    height: calc(100% - 56px);

    @include query-data-table;

    & .yc-button__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__monaco {
        position: relative;

        display: flex;

        width: 100%;
        height: 100%;
        padding-top: 9px;
    }

    &__monaco-wrapper {
        width: 100%;
        height: calc(100% - 49px);
        min-height: 0;
    }

    &__pane-wrapper {
        z-index: 2;

        display: flex;
        flex-direction: column;

        background-color: var(--yc-color-base-background);
    }

    &__upper-controls {
        position: absolute;
        top: -38px;
        right: 16px;

        display: flex;
        gap: 12px;

        justify-content: flex-end;
        align-items: center;
    }

    &__controls {
        display: flex;
        flex: 0 0 40px;
        align-items: flex-end;

        min-height: 40px;
        padding: 5px 20px;

        border-top: 1px solid var(--yc-color-line-generic);
        border-bottom: 1px solid var(--yc-color-line-generic);
        background-color: var(--yc-color-base-background);
        gap: 12px;
    }

    &__control-run {
        display: flex;
        align-items: center;
        .yc-select__option-text {
            display: none;
        }

        .yc-button__text {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }

    &__history-controls {
        display: flex;
        align-items: center;
    }

    &__history-label {
        margin-right: 8px;

        color: var(--yc-color-text-secondary);
    }

    &__cell {
        @include cell-container;
    }

    &__select-query-action {
        margin-left: 2px;
    }
}
