@use '../../styles/mixins.scss';

.kv-user {
    display: inline-block;

    color: var(--g-color-text-primary);
    @include mixins.body-2-typography();

    &__name {
        display: inline-block;

        &::first-letter {
            color: var(--g-color-text-danger);
        }
    }
}
