.host {
    display: flex;
    flex-direction: column;

    &__common {
        display: flex;
        align-items: center;

        margin-bottom: 4px;
    }
    &__status {
        display: flex;

        margin-right: 15px;

        font-size: var(--yc-text-body-2-font-size);
        line-height: var(--yc-text-body-2-line-height);
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__info-item {
        display: flex;

        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
    &__label {
        margin-right: 10px;

        font-size: var(--yc-text-body-1-font-size);
        line-height: var(--yc-text-body-1-line-height);

        color: var(--yc-color-text-hint);

        .yc-root_theme_dark & {
            color: var(--yc-color-text-hint);
        }
    }
    &__value {
        font-size: var(--yc-text-body-1-font-size);
        line-height: var(--yc-text-body-1-line-height);

        color: var(--yc-color-text-primary);
    }
}
