.ydb-gravity-paginated-table {
    &__table {
        position: relative;

        width: 100%;

        border-collapse: collapse;
        &_virtualized {
            display: grid;

            height: auto;

            tbody {
                position: relative;

                display: grid;
            }

            tr {
                position: absolute;

                display: flex;

                width: 100%;
                height: auto;
            }
        }

        thead {
            position: sticky;
            z-index: 1;
            top: 0;

            background: var(--g-color-base-background);
        }

        tbody {
            position: relative;
        }

        tr {
            display: flex;

            width: 100%;
        }

        td,
        th {
            display: flex;
            flex: 1;
            align-items: center;

            min-width: 0;
        }
    }

    &__resizeable-table-container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }

    &__virtualized-content {
        position: relative;

        overflow: auto;
        flex: 1;

        width: 100%;
        height: 90vh;
    }

    &__error-message {
        margin: 16px;
        padding: 16px;

        text-align: center;

        color: var(--g-color-text-danger);
        border-radius: 4px;
        background-color: var(--g-color-danger-light);
    }

    &__empty-message {
        padding: 16px;

        text-align: center;

        color: var(--g-color-text-secondary);
    }

    &__loading,
    &__loading-more {
        margin: 16px;
        padding: 16px;

        text-align: center;

        color: var(--g-color-text-secondary);
        border-radius: 4px;
        background-color: var(--g-color-base-generic);
    }

    &__loading-more {
        position: absolute;
        bottom: 0;
        left: 50%;

        margin: 8px;
        padding: 8px 16px;

        font-size: 14px;

        border-radius: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        transform: translateX(-50%);
    }

    &__loading-cell {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: 8px 16px;

        &::after {
            display: block;

            width: 100%;
            height: 20px;

            content: '';

            border-radius: 4px;
            background: var(--g-color-base-generic);
        }
    }

    &__row {
        &_loading {
            opacity: 0.5;
        }

        &_empty {
            td {
                justify-content: center;
            }
        }
    }

    &__row-cell {
        overflow: hidden;

        padding: 8px 16px;

        white-space: nowrap;
        text-overflow: ellipsis;

        &_align {
            &_left {
                justify-content: flex-start;
            }
            &_center {
                justify-content: center;
            }
            &_right {
                justify-content: flex-end;
            }
        }
    }

    &__row-skeleton {
        width: 100%;
        height: 20px;
    }

    &__head {
        &-cell {
            display: flex;
            align-items: center;
            gap: 8px;

            width: 100%;
            height: 100%;
            padding: 8px 16px;

            font-weight: 500;

            color: var(--g-color-text-secondary);

            &-content {
                overflow: hidden;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
