@use '../../styles/mixins.scss';

.ydb-gravity-paginated-table {
    --paginated-table-cell-vertical-padding: 5px;
    --paginated-table-cell-horizontal-padding: 10px;

    --paginated-table-hover-color: var(--g-color-base-simple-hover-solid);

    &__head-cell {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        max-width: 100%;
        padding: var(--paginated-table-cell-vertical-padding)
            var(--paginated-table-cell-horizontal-padding);

        &_align {
            &_left {
                justify-content: left;
            }
            &_center {
                justify-content: center;
            }
            &_right {
                justify-content: right;
            }
        }

        @include mixins.body-2-typography();
    }

    &__virtualized-content {
        position: relative;

        overflow: auto;
        flex: 1;

        width: 100%;
        height: 90vh;
    }

    &__row {
        position: relative;
        z-index: 1;

        // Performance optimization for row hovering.
        transform: translateZ(0);

        &:hover {
            background: var(--paginated-table-hover-color);
        }

        &_empty {
            &:hover {
                background-color: initial;
            }
        }
    }

    &__row-cell {
        display: table-cell;
        overflow-x: hidden;

        width: 100%;
        max-width: 100%;
        padding: var(--paginated-table-cell-vertical-padding)
            var(--paginated-table-cell-horizontal-padding);

        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_align {
            &_left {
                text-align: left;
            }
            &_center {
                text-align: center;
            }
            &_right {
                text-align: right;
            }
        }

        @include mixins.body-2-typography();
    }

    &__head-cell-content {
        overflow: hidden;

        width: min-content;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__sort-icon-container {
        color: inherit;

        &_shadow {
            opacity: 0.15;
        }
    }

    &__sort-icon {
        &_desc {
            transform: rotate(180deg);
        }
    }
}
