.ydb-tenant-dashboard {
    width: var(--diagnostics-section-table-width);
    margin-bottom: var(--diagnostics-section-margin);

    &__charts {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;
    }
}
