@import '../../../../../../styles/mixins.scss';

.ydb-query-explain-simplified-plan {
    $block: &;
    overflow: auto;

    height: 100%;
    padding: 0 15px 15px;
    &__table {
        width: 100%;
        max-width: 100%;

        table-layout: fixed;
        border-spacing: 0px;
        border-collapse: collapse;
        tr {
            &:hover {
                background-color: var(--g-color-base-generic-hover) !important;
            }
        }
        tr:nth-of-type(2n + 1) {
            background-color: var(--g-color-base-generic-ultralight);
        }
    }
    &__name {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-1);

        max-width: 100%;
    }
    &__table-header-cell {
        height: 40px;
        padding: 0;

        text-align: left;

        background-color: var(--g-color-base-background);
        @include text-subheader-2();
        &_align_right {
            text-align: right;
        }
    }
    &__table-header-content {
        height: 100%;
        padding: 0 var(--g-spacing-2);

        line-height: 40px;

        border-bottom: 1px solid var(--g-color-line-generic);
    }
    &__metrics-cell {
        padding: var(--g-spacing-1) var(--g-spacing-2);
    }
    &__table-cell {
        height: 30px;
        padding: 0;
        @include text-body-2();
        &_align_right {
            text-align: right;
        }
        &_vertical-align_top {
            vertical-align: top;
        }
    }
    &__operation-params {
        color: var(--g-color-text-secondary);
    }
    &__operation-name {
        position: relative;

        max-width: 100%;
        height: 100%;
    }

    &__divider {
        position: absolute;
        bottom: 0;

        width: 12px;
        height: 100%;

        box-shadow: 1px 0 0 0 var(--g-color-line-generic) inset;

        &_last {
            top: 0;
            bottom: unset;

            width: 12px;
            height: 14px;

            border-radius: 0 0 0 1px;
            box-shadow: 1px -1px 0 0 var(--g-color-line-generic) inset;
        }
        &_horizontal {
            top: 0;
            bottom: unset;

            width: 12px;
            height: 14px;

            box-shadow: 0 -1px 0 0 var(--g-color-line-generic) inset;
        }
        &_first {
            height: calc(100% - 24px);
        }
    }

    &__operation-content {
        align-items: baseline;

        max-width: 100%;
        height: 100%;
        padding: var(--g-spacing-1) 0;

        word-break: break-word;
    }

    &__operation-name-content {
        display: flex;
        flex-grow: 1;

        height: 100%;
    }
    .gt-table__cell_id_name {
        border: unset;
    }
}
