.date-range {
    &__range-input {
        &_s {
            width: 200px;
        }

        &_m {
            width: 300px;
        }

        &_l {
            width: 350px;
        }

        input {
            cursor: pointer;
        }
    }
}
