@import '../../styles/mixins.scss';

.pdisk {
    padding: 20px;
    @include container-fluid();

    .info-viewer__items {
        grid-template-columns: auto;
    }

    &__row {
        display: flex;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-right: 16px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 500;
        line-height: var(--yc-text-body-2-line-height);
        text-transform: uppercase;
    }

    &__section {
        padding: 15px 0;
    }

    &__size {
        margin-top: -8px;
    }

    &__link {
        text-decoration: none;

        color: var(--yc-color-base-special);
    }
}
