.ydb-storage-pdisks-compact {
    &__viewport {
        overflow: hidden;

        width: 100%;
    }

    &__content {
        position: relative;
    }

    &__pdisks-item {
        position: absolute;
        top: 0;

        display: flex;
    }
}
