.threads {
    &__error {
        margin-bottom: 16px;
    }

    &__table {
        .g-table {
            --g-table-row-height: 56px;
        }
    }

    &__empty {
        padding: 24px;

        font-size: 14px;
        text-align: center;

        color: var(--g-color-text-secondary);
    }
}
