@use '../DetailedOverview/DetailedOverview.scss' as detailedOverview;

.tenant-overview {
    overflow-x: auto;

    padding-bottom: 20px;
    &__loader {
        display: flex;
        justify-content: center;
    }
    &__tenant-name-wrapper {
        display: flex;
        overflow: hidden;
        align-items: center;
    }

    &__top {
        display: flex;
        align-items: center;

        margin-bottom: 10px;

        line-height: 24px;
    }

    &__top-label {
        margin-bottom: detailedOverview.$section-title-margin;

        font-weight: 600;
        line-height: detailedOverview.$section-title-line-height;
        gap: 10px;
    }

    &__common-info {
        display: flex;
        gap: 20px;

        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__system-tablets {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 35px;
    }

    &__collapse-title {
        font-size: var(--yc-text-body-2-font-size);
        font-weight: 500;
        line-height: var(--yc-text-body-2-line-height);
        //text-transform: uppercase;
    }

    &__section {
        border-radius: 10px;

        &_metrics {
            .info-viewer__label {
                min-width: 150px;
            }
            .info-viewer__value {
                min-width: 100px;
            }
        }

        &_pools {
            display: grid;
            grid-gap: 7px 20px;

            grid-template-columns: 110px 110px;
        }
    }

    &__section-title {
        margin-bottom: 20px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 600;
        line-height: var(--yc-text-body-2-line-height);
    }
}
