@use '../../../../styles/mixins.scss';

.tenant-overview {
    overflow: auto;

    height: 100%;
    padding-bottom: 20px;

    &__tenant-name-wrapper {
        display: flex;
        overflow: hidden;
        align-items: center;
    }

    &__top {
        margin-bottom: 10px;

        line-height: 24px;
    }

    &__top-label {
        gap: 10px;

        margin-bottom: var(--diagnostics-section-title-margin);

        font-weight: 600;
        line-height: 24px;
    }

    &__info {
        position: sticky;
        left: 0;

        width: 100%;
    }

    &__title {
        margin-bottom: 10px;

        font-weight: 700;

        @include mixins.body-2-typography();
    }

    &__table {
        &:not(:last-child) {
            margin-bottom: var(--diagnostics-section-margin);
        }
    }

    &__top-queries-row {
        cursor: pointer;
    }

    &__storage-info {
        margin-bottom: 36px;
    }

    &__memory-info {
        width: 300px;
        margin-bottom: 36px;
    }

    &__tab-content {
        margin-top: -1px;
        padding: var(--g-spacing-4);

        border: 1px solid var(--g-color-line-generic);
        border-top: 0;
        border-radius: var(--g-border-radius-s);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
