.ydb-critical-dialog {
    width: 400px;

    &__warning-icon {
        margin-right: 16px;
    }

    &__error-icon {
        height: 24px;
        margin-right: 16px;

        color: var(--ydb-color-status-red);
    }

    &__body {
        display: flex;
        align-items: center;
    }
}
