.ydb-node-host-wrapper {
    display: flex;

    &__host-wrapper {
        display: flex;

        width: 330px;
    }

    &__host {
        overflow: hidden;
    }

    &__external-button {
        display: none;

        margin-left: 4px;
    }
}

.data-table__row:hover {
    .ydb-node-host-wrapper__external-button {
        display: inline-flex;
    }
}
