.ydb-node-host-wrapper {
    &__external-button {
        display: none;
        flex-shrink: 0;

        margin-left: 4px;
    }
}

.data-table__row:hover,
.ydb-paginated-table__row:hover {
    .ydb-node-host-wrapper__external-button {
        display: inline-flex;
    }
}
