.ydb-vdisk-component {
    border-radius: 4px; // to match interactive area with disk shape

    &__content {
        display: block;

        border-radius: 4px; // to match interactive area with disk shape
    }

    &__donor-icon {
        position: absolute;
        top: 3px;
        left: 4px;
    }
}
