.ydb-vdisk-component {
    --disk-border-radius: var(--g-border-radius-m);
    border-radius: var(--disk-border-radius); // to match interactive area with disk shape

    &__content {
        display: block;

        border-radius: var(--disk-border-radius); // to match interactive area with disk shape
        background: var(--g-color-base-background);
    }
    &__content_compact {
        border-radius: var(
            --disk-border-radius-compact,
            var(--g-border-radius-xs)
        ); // to match interactive area with disk shape
    }
}
