.ydb-vdisk-component {
    border-radius: var(--g-border-radius-m); // to match interactive area with disk shape

    &__content {
        display: block;

        border-radius: var(--g-border-radius-m); // to match interactive area with disk shape
        background: var(--g-color-base-background);
    }
}
