@import '../../../../../styles/mixins.scss';

.ydb-diagnostics-consumers-topic-stats {
    @include body-2-typography();

    &__wrapper {
        display: flex;
        flex-direction: row;

        padding-left: 16px;

        border-left: 1px solid var(--g-color-line-generic);
    }

    &__item {
        display: flex;
        flex-direction: column;

        margin-right: 20px;
    }
    &__label {
        margin-bottom: 4px;

        color: var(--g-color-text-secondary);
    }
    &__value {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 30px;
    }
}
