@import '../../../../styles/mixins.scss';

.kv-top-queries {
    display: flex;
    flex-direction: column;

    height: 100%;

    @include query-data-table;

    &__loader {
        display: flex;
        justify-content: center;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 16px;

        margin-bottom: 10px;
    }

    &__result {
        overflow: auto;
        flex-grow: 1;

        .data-table {
            &,
            &__table {
                width: 100%;
            }

            &__td {
                vertical-align: top;
                white-space: pre;
                word-break: break-word;
            }

            &__row {
                max-height: 80px;

                cursor: pointer;
            }
        }
    }
}
