@import '../../../../styles/mixins.scss';

.kv-top-queries {
    display: flex;
    flex-direction: column;

    height: 100%;

    @include query-data-table;

    &__search {
        @include search();
    }

    tr {
        cursor: pointer;
    }

    &__query {
        overflow: hidden;

        vertical-align: top;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    &__user-sid {
        overflow: hidden;

        max-width: 200px;

        text-overflow: ellipsis;
    }
}
