@use '../../../styles/mixins.scss';

.kv-tenant-diagnostics {
    --diagnostics-margin-top: var(--g-spacing-4);
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 100%;

    &__header-wrapper {
        padding: 0 var(--g-spacing-5);

        background-color: var(--g-color-base-background);
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixins.tabs-wrapper-styles();
        & .g-tabs_direction_horizontal {
            box-shadow: unset;
        }
    }

    &__page-wrapper {
        overflow: auto;
        flex-grow: 1;

        width: 100%;

        // Margin is not counted in height
        // thats why we need to subtract it.
        height: calc(100% - var(--diagnostics-margin-top));
        margin-top: var(--diagnostics-margin-top);
        padding: 0 var(--g-spacing-5);

        .ydb-table-with-controls-layout {
            &__controls {
                height: 46px;
                padding-top: 0;
            }

            &__controls-wrapper {
                align-items: flex-start;
            }

            .data-table__sticky_moving,
            .ydb-paginated-table__head {
                top: 46px !important;
            }
        }
    }
}
