.kv-tenant-diagnostics {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 100%;

    &__header-wrapper {
        padding: 0 20px 16px;

        background-color: var(--g-color-base-background);
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        box-shadow: inset 0 -1px 0 0 var(--g-color-line-generic);
        & .g-tabs_direction_horizontal {
            box-shadow: unset;
        }
    }

    &__tab {
        margin-right: 40px;

        text-decoration: none;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    &__page-wrapper {
        overflow: auto;
        flex-grow: 1;

        width: 100%;
        padding: 0 20px;

        .ydb-table-with-controls-layout {
            &__controls {
                height: 46px;
                padding-top: 0;
            }

            .data-table__sticky_moving,
            .ydb-virtual-table__head {
                top: 46px !important;
            }
        }
    }
}
