.ydb-vdisk-popup {
    overflow-y: auto;

    width: 368px;
    max-width: calc(100vw - 64px);
    max-height: calc(100vh - 64px);

    font-size: var(--g-text-body-1-font-size);
    line-height: var(--g-text-body-1-line-height);

    &__id {
        min-width: 0;
        overflow-wrap: anywhere;
    }

    &__properties {
        --g-definition-list-item-gap: var(--g-spacing-1);

        .g-definition-list__definition {
            min-width: 0;
            overflow-wrap: anywhere;
        }

        .g-definition-list__dots {
            flex-basis: 0;

            min-width: 0;
        }

        &_location .g-definition-list__dots {
            display: none;
        }
    }

    &__location {
        padding: var(--g-spacing-1) var(--g-spacing-2);

        border-radius: var(--g-border-radius-m);
        background-color: var(--g-color-base-generic);
    }

    &__location-summary {
        position: relative;

        &_with-toggle {
            padding-right: var(--g-spacing-5);
        }
    }

    &__location-toggle {
        position: absolute;
        top: 0;
        right: calc(-1 * var(--g-spacing-1));
    }

    &__location-details {
        margin-top: var(--g-spacing-1);
    }

    &__actions {
        padding-top: var(--g-spacing-2);
    }

    &__pdisk-divider {
        margin: var(--g-spacing-3) 0;
    }
}
