.vdisk-storage-popup {
    padding: 12px;

    .info-viewer + .info-viewer {
        margin-top: 8px;
        padding-top: 8px;

        border-top: 1px solid var(--g-color-line-generic);
    }

    &__donor-label {
        margin-bottom: 8px;
    }
}
