.vdisk-storage-popup {
    .info-viewer + .info-viewer {
        margin-top: 8px;
        padding-top: 8px;

        border-top: 1px solid var(--g-color-line-generic);
    }

    &__custom-divider {
        margin: var(--g-spacing-3) 0;
    }
}
