.table-skeleton {
    &__wrapper {
        width: 100%;

        &_hidden {
            visibility: hidden;
        }
    }

    &__row {
        display: flex;
        align-items: center;

        height: var(--data-table-row-height);

        .g-skeleton {
            height: var(--g-text-body-2-line-height);
        }
    }

    &__col-1 {
        width: 10%;
        margin-right: 5%;
    }

    &__col-2 {
        width: 7%;
        margin-right: 5%;
    }

    &__col-3,
    &__col-4 {
        width: 5%;
        margin-right: 5%;
    }

    &__col-5 {
        width: 20%;
    }

    &__col-full {
        width: 100%;
    }
}
