.ydb-versions-nodes-tree-title {
    &__overview {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: var(--g-spacing-4);

        cursor: pointer;

        border-radius: var(--g-border-radius-m);

        &:hover {
            background-color: var(--g-color-base-generic-hover);
        }
    }

    &__version-color {
        width: 12px;
        height: 12px;

        border-radius: 100%;
    }

    &__version-progress {
        width: 250px;
    }

    &__overview-title {
        display: flex;
        align-items: center;
    }

    &__clipboard-button,
    &__icon {
        color: var(--g-color-text-secondary);
    }
}
