@import '../../styles/mixins.scss';

.nodes-viewer {
    overflow: auto;
    @include flex-container();

    &__controls {
        display: flex;
        align-items: center;
        gap: 12px;

        margin: 0 0 8px;
    }

    &__name {
        display: inline-block;

        cursor: pointer;
        text-decoration: none;

        color: var(--yc-color-base-special);
    }

    &__search {
        width: 255px;
    }

    &__progress {
        margin: 0 auto;
    }

    &__tablets {
        overflow-x: auto;

        padding: 0 !important;

        .tablets-viewer__grid {
            justify-content: center;
            grid-template-columns: 125px;
        }
    }

    &__table-wrapper {
        overflow: auto;
        @include flex-container();
    }

    &__table-content {
        overflow: auto;

        height: 100%;
        @include freeze-nth-column(1);
        @include freeze-nth-column(2, 80px);
        @include freeze-nth-column(3, 430px);

        @include table-styles;
        @include table-sticky-styles;
    }
    &__version-tooltip {
        width: 100%;
        span {
            display: block;
            overflow: hidden;

            width: 100%;

            text-overflow: ellipsis;
        }
    }
}
