.ydb-vdisk-status {
    &__replication-progress {
        min-height: 24px;
        padding: 0 10px;

        color: var(--g-color-text-info);
        border-radius: var(--g-border-radius-s);
        background-color: var(--g-color-base-selection);
    }

    &__progress-bar {
        width: 96px;
    }
}
