@mixin colors-private-dark {
    --g-color-private-white-20: rgba(255, 255, 255, 0.02);
    --g-color-private-white-50: rgba(255, 255, 255, 0.05);
    --g-color-private-white-70: rgba(255, 255, 255, 0.07);
    --g-color-private-white-100: rgba(255, 255, 255, 0.1);
    --g-color-private-white-150: rgba(255, 255, 255, 0.15);
    --g-color-private-white-200: rgba(255, 255, 255, 0.2);
    --g-color-private-white-250: rgba(255, 255, 255, 0.25);
    --g-color-private-white-300: rgba(255, 255, 255, 0.3);
    --g-color-private-white-350: rgba(255, 255, 255, 0.35);
    --g-color-private-white-400: rgba(255, 255, 255, 0.4);
    --g-color-private-white-450: rgba(255, 255, 255, 0.45);
    --g-color-private-white-500: rgba(255, 255, 255, 0.5);
    --g-color-private-white-550: rgba(255, 255, 255, 0.55);
    --g-color-private-white-600: rgba(255, 255, 255, 0.6);
    --g-color-private-white-650: rgba(255, 255, 255, 0.65);
    --g-color-private-white-700: rgba(255, 255, 255, 0.7);
    --g-color-private-white-750: rgba(255, 255, 255, 0.75);
    --g-color-private-white-800: rgba(255, 255, 255, 0.8);
    --g-color-private-white-850: rgba(255, 255, 255, 0.85);
    --g-color-private-white-900: rgba(255, 255, 255, 0.9);
    --g-color-private-white-950: rgba(255, 255, 255, 0.95);

    --g-color-private-white-20-solid: rgb(49, 48, 55);
    --g-color-private-white-50-solid: rgb(56, 55, 61);
    --g-color-private-white-70-solid: rgb(60, 59, 65);
    --g-color-private-white-100-solid: rgb(66, 65, 71);
    --g-color-private-white-150-solid: rgb(77, 76, 82);
    --g-color-private-white-200-solid: rgb(87, 86, 92);
    --g-color-private-white-250-solid: rgb(97, 97, 102);
    --g-color-private-white-300-solid: rgb(108, 107, 112);
    --g-color-private-white-350-solid: rgb(119, 118, 122);
    --g-color-private-white-400-solid: rgb(129, 128, 133);
    --g-color-private-white-450-solid: rgb(139, 139, 143);
    --g-color-private-white-500-solid: rgb(150, 150, 153);
    --g-color-private-white-550-solid: rgb(160, 160, 163);
    --g-color-private-white-600-solid: rgb(171, 171, 173);
    --g-color-private-white-650-solid: rgb(182, 181, 184);
    --g-color-private-white-700-solid: rgb(192, 192, 194);
    --g-color-private-white-750-solid: rgb(202, 202, 204);
    --g-color-private-white-800-solid: rgb(213, 213, 214);
    --g-color-private-white-850-solid: rgb(223, 223, 224);
    --g-color-private-white-900-solid: rgb(234, 234, 235);
    --g-color-private-white-950-solid: rgb(245, 245, 245);
    --g-color-private-white-1000-solid: rgb(255, 255, 255);

    --g-color-private-white-opaque-150: rgba(76, 75, 81, 0.95);

    --g-color-private-black-20: rgba(0, 0, 0, 0.02);
    --g-color-private-black-50: rgba(0, 0, 0, 0.05);
    --g-color-private-black-100: rgba(0, 0, 0, 0.1);
    --g-color-private-black-150: rgba(0, 0, 0, 0.15);
    --g-color-private-black-200: rgba(0, 0, 0, 0.2);
    --g-color-private-black-250: rgba(0, 0, 0, 0.25);
    --g-color-private-black-300: rgba(0, 0, 0, 0.3);
    --g-color-private-black-350: rgba(0, 0, 0, 0.35);
    --g-color-private-black-400: rgba(0, 0, 0, 0.4);
    --g-color-private-black-450: rgba(0, 0, 0, 0.45);
    --g-color-private-black-500: rgba(0, 0, 0, 0.5);
    --g-color-private-black-550: rgba(0, 0, 0, 0.55);
    --g-color-private-black-600: rgba(0, 0, 0, 0.6);
    --g-color-private-black-650: rgba(0, 0, 0, 0.65);
    --g-color-private-black-700: rgba(0, 0, 0, 0.7);
    --g-color-private-black-750: rgba(0, 0, 0, 0.75);
    --g-color-private-black-800: rgba(0, 0, 0, 0.8);
    --g-color-private-black-850: rgba(0, 0, 0, 0.85);
    --g-color-private-black-900: rgba(0, 0, 0, 0.9);
    --g-color-private-black-950: rgba(0, 0, 0, 0.95);

    --g-color-private-black-1000-solid: rgb(0, 0, 0);

    --g-color-private-black-rock-850: rgb(45, 44, 51);

    --g-color-private-blue-50: rgba(82, 130, 255, 0.1);
    --g-color-private-blue-100: rgba(82, 130, 255, 0.15);
    --g-color-private-blue-150: rgba(82, 130, 255, 0.2);
    --g-color-private-blue-200: rgba(82, 130, 255, 0.3);
    --g-color-private-blue-250: rgba(82, 130, 255, 0.4);
    --g-color-private-blue-300: rgba(82, 130, 255, 0.5);
    --g-color-private-blue-350: rgba(82, 130, 255, 0.6);
    --g-color-private-blue-400: rgba(82, 130, 255, 0.7);
    --g-color-private-blue-450: rgba(82, 130, 255, 0.8);
    --g-color-private-blue-500: rgba(82, 130, 255, 0.9);

    --g-color-private-blue-50-solid: rgb(49, 53, 71);
    --g-color-private-blue-100-solid: rgb(51, 57, 82);
    --g-color-private-blue-150-solid: rgb(52, 61, 92);
    --g-color-private-blue-200-solid: rgb(56, 70, 112);
    --g-color-private-blue-250-solid: rgb(60, 78, 133);
    --g-color-private-blue-300-solid: rgb(64, 87, 153);
    --g-color-private-blue-350-solid: rgb(67, 96, 173);
    --g-color-private-blue-400-solid: rgb(71, 104, 194);
    --g-color-private-blue-450-solid: rgb(75, 113, 214);
    --g-color-private-blue-500-solid: rgb(78, 121, 235);
    --g-color-private-blue-550-solid: rgb(82, 130, 255);
    --g-color-private-blue-600-solid: rgb(99, 143, 255);
    --g-color-private-blue-650-solid: rgb(117, 155, 255);
    --g-color-private-blue-700-solid: rgb(134, 168, 255);
    --g-color-private-blue-750-solid: rgb(151, 180, 255);
    --g-color-private-blue-800-solid: rgb(169, 193, 255);
    --g-color-private-blue-850-solid: rgb(186, 205, 255);
    --g-color-private-blue-900-solid: rgb(203, 218, 255);
    --g-color-private-blue-950-solid: rgb(220, 230, 255);
    --g-color-private-blue-1000-solid: rgb(229, 236, 255);

    --g-color-private-green-50: rgba(91, 181, 87, 0.1);
    --g-color-private-green-100: rgba(91, 181, 87, 0.15);
    --g-color-private-green-150: rgba(91, 181, 87, 0.2);
    --g-color-private-green-200: rgba(91, 181, 87, 0.3);
    --g-color-private-green-250: rgba(91, 181, 87, 0.4);
    --g-color-private-green-300: rgba(91, 181, 87, 0.5);
    --g-color-private-green-350: rgba(91, 181, 87, 0.6);
    --g-color-private-green-400: rgba(91, 181, 87, 0.7);
    --g-color-private-green-450: rgba(91, 181, 87, 0.8);
    --g-color-private-green-500: rgba(91, 181, 87, 0.9);

    --g-color-private-green-50-solid: rgb(50, 58, 55);
    --g-color-private-green-100-solid: rgb(52, 65, 56);
    --g-color-private-green-150-solid: rgb(54, 71, 58);
    --g-color-private-green-200-solid: rgb(59, 85, 62);
    --g-color-private-green-250-solid: rgb(63, 99, 65);
    --g-color-private-green-300-solid: rgb(68, 113, 69);
    --g-color-private-green-350-solid: rgb(73, 126, 73);
    --g-color-private-green-400-solid: rgb(77, 140, 76);
    --g-color-private-green-450-solid: rgb(82, 154, 80);
    --g-color-private-green-500-solid: rgb(86, 167, 83);
    --g-color-private-green-550-solid: rgb(91, 181, 87);
    --g-color-private-green-600-solid: rgb(107, 188, 104);
    --g-color-private-green-650-solid: rgb(124, 196, 121);
    --g-color-private-green-700-solid: rgb(140, 203, 137);
    --g-color-private-green-750-solid: rgb(157, 211, 154);
    --g-color-private-green-800-solid: rgb(173, 218, 171);
    --g-color-private-green-850-solid: rgb(189, 225, 188);
    --g-color-private-green-900-solid: rgb(206, 233, 205);
    --g-color-private-green-950-solid: rgb(222, 240, 221);
    --g-color-private-green-1000-solid: rgb(230, 244, 230);

    --g-color-private-yellow-50: rgba(255, 203, 0, 0.1);
    --g-color-private-yellow-100: rgba(255, 203, 0, 0.15);
    --g-color-private-yellow-150: rgba(255, 203, 0, 0.2);
    --g-color-private-yellow-200: rgba(255, 203, 0, 0.3);
    --g-color-private-yellow-250: rgba(255, 203, 0, 0.4);
    --g-color-private-yellow-300: rgba(255, 203, 0, 0.5);
    --g-color-private-yellow-350: rgba(255, 203, 0, 0.6);
    --g-color-private-yellow-400: rgba(255, 203, 0, 0.7);
    --g-color-private-yellow-450: rgba(255, 203, 0, 0.8);
    --g-color-private-yellow-500: rgba(255, 203, 0, 0.9);

    --g-color-private-yellow-50-solid: rgb(66, 60, 46);
    --g-color-private-yellow-100-solid: rgb(77, 68, 43);
    --g-color-private-yellow-150-solid: rgb(87, 76, 41);
    --g-color-private-yellow-200-solid: rgb(108, 92, 36);
    --g-color-private-yellow-250-solid: rgb(129, 108, 31);
    --g-color-private-yellow-300-solid: rgb(150, 124, 25);
    --g-color-private-yellow-350-solid: rgb(171, 140, 20);
    --g-color-private-yellow-400-solid: rgb(192, 155, 15);
    --g-color-private-yellow-450-solid: rgb(213, 171, 10);
    --g-color-private-yellow-500-solid: rgb(233, 186, 4);
    --g-color-private-yellow-550-solid: rgb(255, 203, 0);
    --g-color-private-yellow-600-solid: rgb(255, 208, 26);
    --g-color-private-yellow-650-solid: rgb(255, 213, 51);
    --g-color-private-yellow-700-solid: rgb(255, 219, 76);
    --g-color-private-yellow-750-solid: rgb(255, 224, 102);
    --g-color-private-yellow-800-solid: rgb(255, 229, 128);
    --g-color-private-yellow-850-solid: rgb(255, 234, 153);
    --g-color-private-yellow-900-solid: rgb(255, 239, 179);
    --g-color-private-yellow-950-solid: rgb(255, 245, 204);
    --g-color-private-yellow-1000-solid: rgb(255, 247, 217);

    --g-color-private-orange-50: rgba(200, 99, 12, 0.1);
    --g-color-private-orange-100: rgba(200, 99, 12, 0.15);
    --g-color-private-orange-150: rgba(200, 99, 12, 0.2);
    --g-color-private-orange-200: rgba(200, 99, 12, 0.3);
    --g-color-private-orange-250: rgba(200, 99, 12, 0.4);
    --g-color-private-orange-300: rgba(200, 99, 12, 0.5);
    --g-color-private-orange-350: rgba(200, 99, 12, 0.6);
    --g-color-private-orange-400: rgba(200, 99, 12, 0.7);
    --g-color-private-orange-450: rgba(200, 99, 12, 0.8);
    --g-color-private-orange-500: rgba(200, 99, 12, 0.9);

    --g-color-private-orange-50-solid: rgb(61, 50, 47);
    --g-color-private-orange-100-solid: rgb(68, 52, 45);
    --g-color-private-orange-150-solid: rgb(76, 55, 43);
    --g-color-private-orange-200-solid: rgb(92, 61, 39);
    --g-color-private-orange-250-solid: rgb(107, 66, 35);
    --g-color-private-orange-300-solid: rgb(123, 71, 32);
    --g-color-private-orange-350-solid: rgb(138, 77, 28);
    --g-color-private-orange-400-solid: rgb(153, 82, 24);
    --g-color-private-orange-450-solid: rgb(169, 88, 20);
    --g-color-private-orange-500-solid: rgb(185, 94, 16);
    --g-color-private-orange-550-solid: rgb(200, 99, 12);
    --g-color-private-orange-600-solid: rgb(206, 115, 36);
    --g-color-private-orange-650-solid: rgb(211, 130, 61);
    --g-color-private-orange-700-solid: rgb(216, 146, 85);
    --g-color-private-orange-750-solid: rgb(222, 161, 109);
    --g-color-private-orange-800-solid: rgb(227, 177, 133);
    --g-color-private-orange-850-solid: rgb(233, 193, 158);
    --g-color-private-orange-900-solid: rgb(239, 208, 182);
    --g-color-private-orange-950-solid: rgb(244, 224, 206);
    --g-color-private-orange-1000-solid: rgb(247, 232, 219);

    --g-color-private-red-50: rgba(232, 73, 69, 0.1);
    --g-color-private-red-100: rgba(232, 73, 69, 0.15);
    --g-color-private-red-150: rgba(232, 73, 69, 0.2);
    --g-color-private-red-200: rgba(232, 73, 69, 0.3);
    --g-color-private-red-250: rgba(232, 73, 69, 0.4);
    --g-color-private-red-300: rgba(232, 73, 69, 0.5);
    --g-color-private-red-350: rgba(232, 73, 69, 0.6);
    --g-color-private-red-400: rgba(232, 73, 69, 0.7);
    --g-color-private-red-450: rgba(232, 73, 69, 0.8);
    --g-color-private-red-500: rgba(232, 73, 69, 0.9);

    --g-color-private-red-50-solid: rgb(64, 47, 53);
    --g-color-private-red-100-solid: rgb(73, 48, 54);
    --g-color-private-red-150-solid: rgb(82, 50, 55);
    --g-color-private-red-200-solid: rgb(101, 53, 57);
    --g-color-private-red-250-solid: rgb(120, 56, 58);
    --g-color-private-red-300-solid: rgb(138, 58, 60);
    --g-color-private-red-350-solid: rgb(157, 61, 62);
    --g-color-private-red-400-solid: rgb(176, 64, 64);
    --g-color-private-red-450-solid: rgb(195, 67, 65);
    --g-color-private-red-500-solid: rgb(213, 70, 68);
    --g-color-private-red-550-solid: rgb(232, 73, 69);
    --g-color-private-red-600-solid: rgb(234, 91, 88);
    --g-color-private-red-650-solid: rgb(236, 109, 107);
    --g-color-private-red-700-solid: rgb(239, 127, 125);
    --g-color-private-red-750-solid: rgb(241, 146, 144);
    --g-color-private-red-800-solid: rgb(243, 164, 162);
    --g-color-private-red-850-solid: rgb(246, 182, 181);
    --g-color-private-red-900-solid: rgb(248, 200, 199);
    --g-color-private-red-950-solid: rgb(250, 219, 218);
    --g-color-private-red-1000-solid: rgb(252, 228, 227);

    --g-color-private-purple-50: rgba(143, 82, 204, 0.1);
    --g-color-private-purple-100: rgba(143, 82, 204, 0.15);
    --g-color-private-purple-150: rgba(143, 82, 204, 0.2);
    --g-color-private-purple-200: rgba(143, 82, 204, 0.3);
    --g-color-private-purple-250: rgba(143, 82, 204, 0.4);
    --g-color-private-purple-300: rgba(143, 82, 204, 0.5);
    --g-color-private-purple-350: rgba(143, 82, 204, 0.6);
    --g-color-private-purple-400: rgba(143, 82, 204, 0.7);
    --g-color-private-purple-450: rgba(143, 82, 204, 0.8);
    --g-color-private-purple-500: rgba(143, 82, 204, 0.9);

    --g-color-private-purple-50-solid: rgb(55, 48, 66);
    --g-color-private-purple-100-solid: rgb(60, 50, 74);
    --g-color-private-purple-150-solid: rgb(65, 52, 82);
    --g-color-private-purple-200-solid: rgb(74, 55, 97);
    --g-color-private-purple-250-solid: rgb(84, 59, 112);
    --g-color-private-purple-300-solid: rgb(94, 63, 128);
    --g-color-private-purple-350-solid: rgb(104, 67, 143);
    --g-color-private-purple-400-solid: rgb(114, 71, 158);
    --g-color-private-purple-450-solid: rgb(123, 74, 173);
    --g-color-private-purple-500-solid: rgb(133, 78, 189);
    --g-color-private-purple-550-solid: rgb(143, 82, 204);
    --g-color-private-purple-600-solid: rgb(154, 99, 209);
    --g-color-private-purple-650-solid: rgb(165, 117, 214);
    --g-color-private-purple-700-solid: rgb(177, 134, 219);
    --g-color-private-purple-750-solid: rgb(188, 151, 224);
    --g-color-private-purple-800-solid: rgb(199, 169, 230);
    --g-color-private-purple-850-solid: rgb(210, 186, 235);
    --g-color-private-purple-900-solid: rgb(221, 203, 240);
    --g-color-private-purple-950-solid: rgb(233, 220, 245);
    --g-color-private-purple-1000-solid: rgb(238, 229, 247);

    --g-color-private-cool-grey-50: rgba(96, 128, 156, 0.1);
    --g-color-private-cool-grey-100: rgba(96, 128, 156, 0.15);
    --g-color-private-cool-grey-150: rgba(96, 128, 156, 0.2);
    --g-color-private-cool-grey-200: rgba(96, 128, 156, 0.3);
    --g-color-private-cool-grey-250: rgba(96, 128, 156, 0.4);
    --g-color-private-cool-grey-300: rgba(96, 128, 156, 0.5);
    --g-color-private-cool-grey-350: rgba(96, 128, 156, 0.6);
    --g-color-private-cool-grey-400: rgba(96, 128, 156, 0.7);
    --g-color-private-cool-grey-450: rgba(96, 128, 156, 0.8);
    --g-color-private-cool-grey-500: rgba(96, 128, 156, 0.9);

    --g-color-private-cool-grey-50-solid: rgb(50, 52, 62);
    --g-color-private-cool-grey-100-solid: rgb(53, 57, 67);
    --g-color-private-cool-grey-150-solid: rgb(55, 61, 72);
    --g-color-private-cool-grey-200-solid: rgb(60, 69, 82);
    --g-color-private-cool-grey-250-solid: rgb(65, 78, 93);
    --g-color-private-cool-grey-300-solid: rgb(70, 86, 103);
    --g-color-private-cool-grey-350-solid: rgb(76, 94, 114);
    --g-color-private-cool-grey-400-solid: rgb(81, 103, 125);
    --g-color-private-cool-grey-450-solid: rgb(86, 111, 135);
    --g-color-private-cool-grey-500-solid: rgb(91, 120, 146);
    --g-color-private-cool-grey-550-solid: rgb(96, 128, 156);
    --g-color-private-cool-grey-600-solid: rgb(112, 141, 166);
    --g-color-private-cool-grey-650-solid: rgb(128, 153, 176);
    --g-color-private-cool-grey-700-solid: rgb(144, 166, 186);
    --g-color-private-cool-grey-750-solid: rgb(160, 179, 195);
    --g-color-private-cool-grey-800-solid: rgb(176, 191, 205);
    --g-color-private-cool-grey-850-solid: rgb(191, 204, 215);
    --g-color-private-cool-grey-900-solid: rgb(207, 217, 225);
    --g-color-private-cool-grey-950-solid: rgb(223, 230, 235);
    --g-color-private-cool-grey-1000-solid: rgb(231, 236, 240);
}
