@forward '@gravity-ui/uikit/styles/styles.scss';
@forward './themes.scss';
@forward './unipika.scss';
@forward './illustrations.scss';

body {
    --ydb-drawer-veil-z-index: 0;

    --gn-drawer-veil-z-index: var(--ydb-drawer-veil-z-index);
    margin: 0;

    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
