@mixin container() {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

@mixin container-fluid() {
    max-width: 100%;
    padding: 0 15px;
}

@mixin flex-container() {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

@mixin body-1-typography() {
    font-size: var(--g-text-body-1-font-size);
    line-height: var(--g-text-body-1-line-height);
}

@mixin body-2-typography() {
    font-size: var(--g-text-body-2-font-size);
    line-height: var(--g-text-body-2-line-height);
}

@mixin body-3-typography() {
    font-size: var(--g-text-body-3-font-size);
    line-height: var(--g-text-body-3-line-height);
}

@mixin lead-typography() {
    font-size: var(--g-text-subheader-3-font-size);
    line-height: var(--g-text-subheader-3-line-height);
}

@mixin subheader-2-typography() {
    font-size: var(--g-text-subheader-2-font-size);
    line-height: var(--g-text-subheader-2-line-height);
}

@mixin subheader-3-typography() {
    font-size: var(--g-text-subheader-3-font-size);
    line-height: var(--g-text-subheader-3-line-height);
}

@mixin header-1-typography() {
    font-size: var(--g-text-header-1-font-size);
    line-height: var(--g-text-header-1-line-height);
}

@mixin header-2-typography() {
    font-size: var(--g-text-header-2-font-size);
    line-height: var(--g-text-header-2-line-height);
}

@mixin sticky-top {
    position: sticky;
    top: 0;
    left: 0;

    background-color: var(--g-color-base-background);
}

@mixin loader() {
    position: fixed;
    z-index: 99999999;
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cell-container() {
    display: inline-block;
    overflow: hidden;

    max-width: 600px;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin controls() {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 16px 0 18px;
}

@mixin search() {
    width: 238px;
}

@mixin info-viewer-title {
    margin: 15px 0 10px;

    font-weight: 600;
    @include body-2-typography();
}

@mixin data-table-styles {
    --data-table-row-height: 40px;
    --data-table-cell-align: middle;
    --data-table-head-align: middle;

    .data-table {
        @include body-2-typography();

        &__th,
        &__td {
            height: var(--data-table-row-height);

            border-top: unset;
            border-right: unset;
            border-left: unset;
        }

        &__th {
            font-weight: bold;
        }

        &__table {
            border-spacing: 0;
            border-collapse: separate;
        }
    }

    // DataTable with moving head is actually made of two separate tables
    // The second table has header with zero height, so it's actually invisible
    // There should not be any height set for this header
    .data-table__box_sticky-head_moving {
        .data-table__th {
            height: unset;
        }
    }
}

@mixin query-data-table() {
    & .data-table {
        &__box {
            .data-table__table-wrapper {
                padding-bottom: 20px;
            }
        }

        &__th {
            box-shadow: inset 0 -1px 0 0 var(--g-tabs-color-divider);
        }
    }
}

.link {
    text-decoration: none;

    color: var(--g-color-text-link);

    &_external {
        margin-right: 10px;
    }

    &:hover {
        color: var(--g-color-text-link-hover);
    }
}

@mixin freeze-nth-column($nth: 1, $left: 0) {
    $border-width: 1px;
    $clearance-width: 1px; /* Delete clearance and cancel column shadow for previous columns */

    /* Freeze td */
    & .data-table__td:nth-child(#{$nth}),
    & .data-table__head-row:first-child .data-table__th:nth-child(#{$nth}) {
        position: sticky;
        z-index: 2000;
        left: $left;

        border-right: $border-width solid var(--g-color-line-generic);
        background-color: var(--g-color-base-background);
    }
    .data-table__row:hover .data-table__td:nth-child(#{$nth}) {
        background-color: var(--ydb-data-table-color-hover) !important;
    }

    /* stylelint-disable-next-line order/order */
    @for $i from 0 through $nth {
        & .data-table__td:nth-child(#{$i}),
        & .data-table__head-row:first-child .data-table__th:nth-child(#{$i}) {
            box-shadow: unset;

            @if $i < $nth {
                border-right: unset;
            }
        }
    }
}

@mixin json-tree-styles {
    width: 100%;

    word-wrap: break-word;

    // stylelint-disable
    font-family: var(--g-font-family-monospace) !important;
    font-size: var(--g-text-code-1-font-size) !important;
    line-height: var(--g-text-code-1-line-height) !important;
    // stylelint-enable

    .json-inspector__leaf_composite:before {
        position: absolute;
        left: 20px;

        font-size: 9px;

        color: var(--g-color-text-secondary);
    }
    .json-inspector__leaf_composite.json-inspector__leaf_root:before {
        left: 0;
    }
    :not(.json-inspector__leaf_expanded).json-inspector__leaf_composite:before {
        content: '[+]';
    }
    .json-inspector__leaf_expanded.json-inspector__leaf_composite:before {
        content: '[-]';
    }

    & .json-inspector {
        &__key {
            color: var(--g-color-text-misc);
        }
        &__leaf {
            position: relative;

            padding-left: 20px;
        }
        &__leaf_root {
            padding-left: 0;
        }
        &__line {
            padding-left: 20px;
        }
        &__toolbar {
            width: 300px;
            margin-bottom: 10px;

            border: 1px solid var(--g-color-line-generic);
            border-radius: 4px;
        }
        &__search {
            box-sizing: border-box;
            width: 300px;
            height: 28px;
            margin: 0;
            padding: 0;

            font-family: var(--g-text-body-font-family);
            font-size: 13px;
            vertical-align: top;

            color: var(--g-color-text-primary);
            border: 0 solid transparent;
            border-width: 0 8px;
            border-right-width: 22px;
            outline: 0;
            background: none;
        }
        &__value {
            &_helper {
                color: var(--g-color-text-secondary);
            }
        }
        &__line:hover:after {
            background: var(--g-color-base-simple-hover);
        }
        &__show-original:before {
            color: var(--g-color-text-secondary);
        }
        &__show-original:hover:after,
        &__show-original:hover:before {
            color: var(--g-color-text-primary);
        }
    }

    & .json-inspector__leaf.json-inspector__leaf_root.json-inspector__leaf_composite {
        max-width: calc(100% - 50px);
    }
}
