.pdisk-viewer {
    display: flex;
    align-items: center;

    &__item,
    &__size {
        margin-right: 24px;

        font-size: var(--yc-text-body-2-font-size);
        line-height: 0;

        color: var(--yc-color-text-complementary);
    }

    &__item .entity-status {
        min-width: 100px;
    }

    &__item .entity-status a {
        overflow: initial;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__size {
        width: 120px;

        font-size: 10px;

        color: var(--yc-color-text-complementary);
    }

    &__label {
        margin: 0 5px;
        &_link {
            display: inline-block;

            text-decoration: none;

            color: var(--yc-color-base-special);
        }
    }
}
