.kv-navigation {
    &__internal-user {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 16px;

        line-height: var(--g-text-body-2-line-height);
    }
    &__user-info-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__ydb-internal-user-title {
        font-weight: 500;
    }
    &__ydb-user-wrapper {
        width: 300px;
        padding: 10px;
    }
    &__hotkeys-drawer {
        left: 0 !important;
    }
    &__hotkeys-panel-title {
        display: flex;
        gap: var(--g-spacing-2);
    }
}
