.inline-navigation {
    padding: 13px 16px 0px;

    &-body {
        width: fit-content;

        &__item {
            display: flex;
            align-items: center;
            gap: 5px;

            font-size: 15px;
        }
    }
}
