.schema-info-viewer {
    overflow: auto;

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__item {
        margin-bottom: 20px;

        .info-viewer__items {
            grid-template-columns: minmax(max-content, 280px);
        }
    }

    &__title {
        margin: 15px 0 10px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 600;
        line-height: var(--yc-text-body-2-line-height);
    }
}
