@import '../../../../styles/mixins.scss';

.schema {
    .tree-view_item {
        padding: 2px 0;
        margin: 0;
    }

    .tree-view_children {
        padding-left: 15px;
        margin: 0;
    }
}
