@import '../../../../styles/mixins.scss';

.schema {
    .tree-view_item {
        margin: 0;
        padding: 2px 0;
    }

    .tree-view_children {
        margin: 0;
        padding-left: 15px;
    }
    &__loader {
        display: flex;
        justify-content: center;
    }
}
