.editor-tabs {
    display: flex;
    align-items: center;

    width: 100%;
    height: 32px;
    padding: 0;

    &__add {
        margin-left: 3px;
    }

    // Override UIKit Tabs to match Figma: 32px height, 3px gaps, filled backgrounds.
    // Tab internals are from @gravity-ui/uikit (`TabList`/`Tab`).
    .g-tab-list {
        display: inline-flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        align-items: center;

        min-width: 0;

        box-shadow: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .g-tab-list {
        --g-tabs-item-height: 32px;
        --g-tabs-item-gap: 3px;
        --g-tabs-item-border-width: 0px;
    }

    .g-tab {
        position: relative;

        min-width: 80px;
        max-width: 146px;

        border-block-end: 0;
        border-radius: var(--g-border-radius-xs) var(--g-border-radius-xs) 0 0;
        background: var(--tab-inactive-background-color);
    }

    .g-tab:hover,
    .g-tab.editor-tab-item__tab-root_menuOpen {
        background-color: var(--code-background-color);
    }

    .g-tab_active,
    .g-tab_active:hover {
        background-color: var(--code-background-color);
    }

    .g-tab__content {
        height: 100%;
        padding: 2px var(--g-spacing-1) 2px var(--g-spacing-4);
    }

    .g-tab__title {
        display: flex;
        align-items: center;

        min-width: 0;

        font-family: var(--g-text-caption-font-family);
        font-size: var(--g-text-caption-2-font-size);
        font-weight: var(--g-text-caption-font-weight);
        line-height: var(--g-text-caption-2-line-height);

        color: var(--g-color-text-complementary);
    }
}
