.editor-tabs {
    display: flex;
    align-items: center;

    width: 100%;
    height: 32px;
    padding: 0;

    &__add-icon-button {
        margin-left: var(--g-spacing-1);
    }

    // Override UIKit TabList to match Figma: 32px height, 3px gaps, hidden scrollbar.
    .g-tab-list {
        display: inline-flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        align-items: center;

        min-width: 0;

        box-shadow: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .g-tab-list {
        --g-tabs-item-height: 32px;
        --g-tabs-item-gap: 3px;
        --g-tabs-item-border-width: 0px;
    }
}
