.ydb-query-explain-result {
    &__result {
        display: flex;
        overflow: auto;
        flex-grow: 1;
        flex-direction: column;
    }

    &__text-message {
        padding: 15px 20px;
    }
}
