.ydb-diagnostic-card {
    flex-shrink: 0;

    width: 206px;
    padding: 16px;
    padding-bottom: 28px;

    border: 1px solid var(--yc-color-line-generic);
    border-radius: 8px;
    background-color: transparent;

    &_active {
        border-color: var(--yc-color-base-info-heavy);
        background-color: var(--yc-color-base-selection);
    }

    &:hover {
        cursor: pointer;

        box-shadow: 0px 1px 5px var(--yc-color-sfx-shadow);
    }
}
