@import '../../../styles/mixins.scss';

.pdisk-storage {
    --pdisk-vdisk-width: 3px;
    --pdisk-gap-width: 2px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-width: var(--pdisk-min-width);

    &__content {
        position: relative;

        display: block;
        flex: 1;

        border-radius: 4px;
    }

    &__vdisks {
        display: flex;
        flex: 0 0 auto;
        gap: var(--pdisk-gap-width);

        margin-bottom: 4px;

        white-space: nowrap;
    }

    &__vdisks-item {
        flex: 0 0 var(--pdisk-vdisk-width);

        min-width: var(--pdisk-vdisk-width);

        .stack__layer {
            .data-table__row:hover & {
                background: var(--ydb-data-table-color-hover);
            }
        }
    }

    &__donors-stack {
        --ydb-stack-offset-x: 0px;
        --ydb-stack-offset-y: -2px;
        --ydb-stack-offset-x-hover: 0px;
        --ydb-stack-offset-y-hover: -7px;
    }
}
