.pdisk-storage {
    position: relative;

    width: 120px;

    &__content {
        position: relative;

        display: block;

        border-radius: 4px; // to match interactive area with disk shape
    }

    &__vdisks {
        display: flex;
        // this breaks disks relative sizes, but disks rarely exceed one line
        flex-wrap: wrap;
        gap: 2px;

        margin-bottom: 4px;
    }

    &__vdisks-item {
        flex-basis: 5px;
        flex-shrink: 0;

        .stack__layer {
            .data-table__row:hover & {
                background: var(--ydb-data-table-color-hover);
            }
        }
    }

    &__donors-stack {
        --ydb-stack-offset-x: 0px;
        --ydb-stack-offset-y: -2px;
        --ydb-stack-offset-x-hover: 0px;
        --ydb-stack-offset-y-hover: -7px;
    }

    &__media-type {
        position: absolute;
        top: 0;
        right: 4px;

        font-size: var(--g-text-body-1-font-size);
        line-height: var(--g-text-body-3-line-height);

        color: var(--g-color-text-secondary);
    }
}
