@import '../../../styles/mixins.scss';

.healthcheck {
    padding: 25px 20px 20px 20px;

    &__message-container {
        padding: 15px 0;
    }

    &__loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__self-check-status {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__self-check-status-label {
        margin: 0 10px 0 0;
    }

    &__self-check-update {
        margin-left: 20px;
    }

    &__self-check-status-indicator {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        margin-right: 4px;

        &_good,
        &_green {
            background-color: var(--yc-color-base-positive-heavy);
        }
        &_degraded,
        &_yellow {
            background-color: var(--yc-color-base-warning-heavy);
        }

        &_blue {
            background-color: var(--yc-color-base-info-heavy);
        }

        &_emergency,
        &_red {
            background: var(--yc-color-base-danger-heavy);
        }
        &_unspecified,
        &_gray,
        &_grey {
            background: var(--yc-color-text-complementary);
        }
        &_maintenance_required,
        &_orange {
            background: var(--yc-color-text-warning-heavy);
        }
    }
}
