@use '../../styles/mixins.scss';

.full-node-viewer {
    @include mixins.body-2-typography();

    &__section {
        display: flex;
        flex-direction: column;

        width: max-content;
        min-width: 300px;
        max-width: 500px;

        &_pools {
            display: grid;
            grid-gap: 7px 20px;

            grid-template-columns: 110px 110px;
        }
    }

    .info-viewer__label {
        min-width: 100px;
    }

    &__section-title {
        @include mixins.info-viewer-title();
    }

    &__role {
        color: var(--g-color-text-secondary);
    }
}
