@use '../../styles/mixins.scss';

.full-node-viewer {
    @include mixins.body-2-typography();

    &__common-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__section {
        border-radius: 10px;

        &_pools {
            display: grid;
            grid-gap: 7px 20px;

            grid-template-columns: 110px 110px;
        }
    }

    .info-viewer__label {
        min-width: 100px;
    }

    &__section-title {
        margin: 15px 0 10px;

        font-weight: 600;
    }
}
