@import '../../styles/mixins.scss';

.full-node-viewer {
    font-size: var(--yc-text-body-2-font-size);
    line-height: var(--yc-text-body-2-line-height);

    &__common-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__section {
        border-radius: 10px;

        &_pools {
            display: grid;
            grid-gap: 7px 20px;

            grid-template-columns: 110px 110px;
        }
    }

    .info-viewer__label {
        min-width: 60px;
    }

    &__section-title {
        margin: 15px 0 10px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 600;
        line-height: var(--yc-text-body-2-line-height);
    }
}
