@use '../../../../styles/mixins';

.ydb-monitoring {
    width: 100%;
    height: 100%;

    &__iframe {
        width: 100%;
        height: 100%;

        border: none;
    }

    &__empty {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__empty-text {
        font-size: 16px;

        color: var(--g-color-text-secondary);
    }
}
