.nv-settings-menu {
    &__group {
        &-heading {
            display: inline-block;
            padding: 0 20px;
            margin-bottom: 12px;
            font-weight: 500;
            line-height: 18px;
        }

        & + & {
            margin-top: 24px;
        }
    }

    &__item {
        $item: &;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px;

        &[class][class] {
            color: var(--yc-color-text-primary);

            &#{$item}_disabled {
                color: var(--yc-color-text-secondary);

                #{$item}-icon {
                    color: var(--yc-color-base-misc-heavy);
                }
            }
        }

        &-icon {
            color: var(--yc-color-text-misc);
            margin-right: 5px;
        }

        &:hover,
        &_focused {
            background: var(--yc-color-base-simple-hover);
        }

        &_selected {
            background: var(--yc-color-base-selection);
        }

        &_selected:hover,
        &_selected#{$item}_focused {
            background: var(--yc-color-base-selection-hover);
        }

        &_badge {
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--yc-color-text-danger);
                position: absolute;
                right: 9px;
                top: calc(50% - 3px);
            }
        }
    }
}
