@import '../../styles/mixins.scss';

.ydb-storage-group-page {
    position: relative;

    overflow: auto;

    height: 100%;

    &__info-content {
        position: sticky;
        left: 0;

        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 20px;
    }

    &__tabs-content {
        padding-left: 20px;
    }

    &__meta,
    &__title,
    &__info,
    &__tabs {
        position: sticky;
        left: 0;
    }

    &__info {
        margin-top: var(--g-spacing-10);
    }

    &__tabs {
        @include tabs-wrapper-styles();
    }
}
