@import '../../styles/mixins.scss';

.ydb-storage-group-page {
    position: relative;
    overflow: auto;
    height: 100%;

    &__info-content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        position: sticky;
        left: 0;
    }

    &__tabs-content {
        padding-left: 20px;
    }

    &__meta,
    &__title,
    &__info,
    &__tabs {
        position: sticky;
        left: 0;
    }

    &__info {
        margin-top: var(--g-spacing-10);
    }

    &__tabs {
        @include tabs-wrapper-styles();
    }
}
