.ydb-storage-groups-columns {
    &__vdisks-column,
    &__disks-column {
        overflow: visible; // to enable stacked disks overflow the row
    }

    &__pool-name-wrapper {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
        direction: rtl;
    }

    &__pool-name {
        unicode-bidi: plaintext;
    }

    &__group-id {
        font-weight: 500;
    }
}
