.ydb-vdisk-info {
    --g-definition-list-item-gap: var(--g-spacing-3);

    &__metrics {
        width: 100%;
    }

    &__column {
        flex: 1 1 400px;

        min-width: 0;
        max-width: 500px;
    }

    &__identity {
        width: 100%;
        max-width: 500px;
    }

    &__disk {
        width: 55px;
    }
}
