@import '../../styles//mixins.scss';

.ydb-pdisk-page {
    position: relative;

    display: flex;
    overflow: auto;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    padding: 20px;

    &__meta,
    &__title,
    &__info,
    &__controls,
    &__tabs {
        position: sticky;
        left: 0;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-2);
    }

    &__tabs {
        @include tabs-wrapper-styles();
    }
}
