@use '../../styles//mixins.scss';

.ydb-pdisk-page {
    position: relative;

    overflow: auto;

    height: 100%;
    padding: 0 20px;

    &__meta,
    &__title,
    &__info,
    &__controls,
    &__tabs {
        position: sticky;
        left: 0;

        margin-bottom: 20px;
    }

    &__meta {
        margin-top: 20px;
    }

    &__tabs {
        margin-bottom: 0;
    }

    &__disk-distribution {
        padding: 20px 0;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--g-spacing-2);
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-2);
    }

    &__tabs {
        @include mixins.tabs-wrapper-styles();
    }
}
