@import '../../styles//mixins.scss';

.ydb-pdisk-page {
    position: relative;

    display: flex;
    overflow: auto;
    flex-direction: column;

    height: 100%;
    padding-top: 20px;
    padding-left: 20px;

    gap: 20px;

    &__meta,
    &__title,
    &__info,
    &__controls,
    &__groups-title {
        position: sticky;
        left: 0;
    }

    &__groups-title {
        @include header-1-typography();
    }
}
