.issue-tree-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;

    cursor: pointer;

    &__field {
        display: flex;
        overflow: hidden;

        &_status {
            display: flex;

            white-space: nowrap;
        }
        &_additional {
            width: max-content;

            cursor: pointer;

            color: var(--yc-color-text-link);

            &:hover {
                color: var(--yc-color-text-link-hover);
            }
        }
        &_message {
            overflow: hidden;
            flex-shrink: 0;

            width: 300px;

            white-space: normal;
        }
    }

    &__field-tooltip {
        &#{&} {
            min-width: 500px;
            max-width: 500px;
        }
    }

    &__field-label {
        color: var(--yc-color-text-secondary);
    }
}
