@use '../../../../../styles/mixins.scss';

.ydb-overview-topic-stats {
    $column-width: 310px;

    margin-top: var(--g-spacing-5);

    &__title {
        @include mixins.info-viewer-title();
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--g-spacing-9);
    }

    &__info,
    &__bytes-written {
        width: $column-width;

        .info-viewer__label {
            min-width: 180px;
        }
    }

    .ydb-loader {
        margin-top: 50px;
    }

    .info-viewer__row {
        align-items: flex-start;
    }

    .info-viewer__label-text_multiline {
        max-width: 150px;
    }
}
