.tenant-overview-storage {
    &__info {
        margin-bottom: 36px;
    }

    &__title {
        margin-bottom: 8px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 700;
        line-height: var(--yc-text-body-2-line-height);
    }

    &__top-tables {
        max-width: 872px;
    }
}
