@import '../../../styles/mixins.scss';

.ydb-acl {
    width: 100%;
    &__result {
        padding-bottom: var(--g-spacing-4);
        padding-left: var(--g-spacing-2);
    }
    &__definition-content {
        display: flex;
        flex-direction: column;
    }
    &__list-title {
        margin: var(--g-spacing-3) 0 var(--g-spacing-5);
        @include subheader-3-typography();
    }
}
