@import '../../../styles/mixins.scss';

.ydb-acl {
    display: flex;
    overflow: auto;
    flex-grow: 1;

    @include query-data-table;

    &__result {
        align-self: flex-start;
    }

    &__owner-container {
        position: sticky;
        z-index: 2;
        top: 0;

        padding-bottom: 16px;

        background-color: var(--g-color-base-background);
    }
}
