@import '../../../styles/mixins.scss';

.ydb-acl {
    width: 100%;
    &__result {
        padding-bottom: 16px;
    }

    &__owner {
        font-weight: 600;
    }
    &__definition-content {
        display: flex;
        flex-direction: column;
    }
    &__group-label {
        @include subheader-2-typography();
    }
}
