@use '../../../styles/mixins.scss';

.ydb-acl {
    width: 100%;
    &__result {
        padding-bottom: var(--g-spacing-4);
        padding-left: var(--g-spacing-2);

        &_no-title {
            margin-top: var(--g-spacing-3);
        }
    }
    &__definition-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__list-title {
        margin: var(--g-spacing-3) 0 var(--g-spacing-5);

        font-weight: 600;
        @include mixins.text-subheader-2();
    }
    &__group-label {
        @include mixins.text-subheader-2();
    }
}
