.node-network {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    padding: 0 5px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    color: var(--yc-color-text-complementary);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;

    &_id {
        width: 42px;
        height: 14px;
    }

    &_blur {
        opacity: 0.25;
    }

    &_gray {
        background: var(--yc-color-text-secondary);
    }

    &_black {
        background-color: var(--yc-color-text-primary);
        color: var(--yc-color-text-light-primary);
    }

    &_green {
        background-color: var(--yc-color-base-positive-heavy);
    }

    &_yellow {
        background-color: var(--yc-color-base-warning-heavy);
    }

    &_red {
        background-color: var(--yc-color-text-yandex-red);
    }

    &:hover {
        border: 1px solid var(--yc-color-text-primary);
    }
}
