@use '../../../../../../styles/mixins.scss';

.ydb-query-result-sets-viewer {
    &__tabs {
        margin-bottom: var(--g-spacing-1);
        padding-top: var(--g-spacing-1);
        padding-left: var(--g-spacing-4);
    }

    &__title {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-2);

        padding-top: var(--g-spacing-4);
        padding-bottom: var(--g-spacing-4);
        padding-left: var(--g-spacing-4);
    }

    &__result-wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    &__result {
        display: flex;
        overflow: auto;
        flex-grow: 1;
        flex-direction: column;

        padding-left: 10px;

        @include mixins.query-data-table();
        & .data-table__table-wrapper {
            padding-bottom: 0;
        }
    }
}
