.kv-ydb-internal-user {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    margin-left: 16px;

    line-height: var(--g-text-body-2-line-height);

    &__user-info-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__ydb-internal-user-title {
        font-weight: 500;
    }

    &__ydb-user-wrapper {
        width: 300px;
        padding: 10px;
    }
}
