.storage-disk-progress-bar {
    $block: &;

    $border-width: 1px;
    $outer-border-radius: 4px;
    $inner-border-radius: $outer-border-radius - $border-width;

    position: relative;
    z-index: 0;

    display: block;

    min-width: 50px;
    height: var(--g-text-body-3-line-height);

    text-align: center;

    color: var(--g-color-text-primary);
    border: $border-width solid var(--g-color-base-misc-heavy);
    border-radius: $outer-border-radius;
    background-color: var(--g-color-base-misc-light);

    &_compact {
        min-width: 0;
        height: 12px;

        border-radius: 2px;

        #{$block}__filled {
            border-radius: 1px;
        }
    }

    #{$block}__filled {
        background-color: var(--g-color-base-misc-medium);
    }

    &_green {
        border-color: var(--g-color-base-positive-heavy);
        background-color: var(--g-color-base-positive-light);
        #{$block}__filled {
            background-color: var(--g-color-base-positive-medium);

            .g-root_theme_dark & {
                // the common medium green is too bright for this case
                background-color: rgb(124, 227, 121, 0.4);
            }
        }
    }

    &_blue {
        border-color: var(--g-color-base-info-heavy);
        background-color: var(--g-color-base-info-light);
        #{$block}__filled {
            background-color: var(--g-color-base-info-medium);
        }
    }

    &_yellow {
        border-color: var(--g-color-base-warning-heavy);
        background-color: var(--g-color-base-yellow-light);
        #{$block}__filled {
            background-color: var(--g-color-base-yellow-medium);
        }
    }

    &_orange {
        border-color: var(--ydb-color-status-orange);
        background-color: var(--g-color-base-warning-light);
        #{$block}__filled {
            background-color: var(--g-color-base-warning-medium);
        }
    }
    &_red {
        border-color: var(--g-color-base-danger-heavy);
        background-color: var(--g-color-base-danger-light);
        #{$block}__filled {
            background-color: var(--g-color-base-danger-medium);
        }
    }

    &__filled {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        border-radius: $inner-border-radius 0 0 $inner-border-radius;

        #{$block}_inverted & {
            right: 0;
            left: auto;

            border-radius: 0 $inner-border-radius $inner-border-radius 0;
        }
    }
    &__filled-title {
        position: relative;
        z-index: 2;

        font-size: var(--g-text-body-1-font-size);
        // bar height minus borders
        line-height: calc(var(--g-text-body-3-line-height) - #{$border-width * 2});

        color: inherit;
    }
}
