.storage-disk-progress-bar {
    $block: &;

    $border-width: 1px;
    $outer-border-radius: 4px;
    $inner-border-radius: $outer-border-radius - $border-width;

    --progress-bar-border-color: var(--g-color-base-misc-heavy);
    --progress-bar-background-color: var(--g-color-base-misc-light);
    --progress-bar-fill-color: var(--g-color-base-misc-medium);

    position: relative;
    z-index: 0;

    min-width: 50px;
    height: var(--g-text-body-3-line-height);

    text-align: center;

    color: var(--g-color-text-primary);
    border: $border-width solid var(--progress-bar-border-color);
    border-radius: $outer-border-radius;
    background-color: var(--progress-bar-background-color);

    &_compact {
        min-width: 0;
        height: 12px;

        border-radius: 2px;
    }

    &_green {
        --progress-bar-border-color: var(--g-color-base-positive-heavy);
        --progress-bar-background-color: var(--g-color-base-positive-light);
        --progress-bar-fill-color: var(--g-color-base-positive-medium);
    }

    &_blue {
        --progress-bar-border-color: var(--g-color-base-info-heavy);
        --progress-bar-background-color: var(--g-color-base-info-light);
        --progress-bar-fill-color: var(--g-color-base-info-medium);
    }

    &_yellow {
        --progress-bar-border-color: var(--g-color-base-warning-heavy);
        --progress-bar-background-color: var(--g-color-base-yellow-light);
        --progress-bar-fill-color: var(--g-color-base-yellow-medium);
    }

    &_orange {
        --progress-bar-border-color: var(--ydb-color-status-orange);
        --progress-bar-background-color: var(--g-color-base-warning-light);
        --progress-bar-fill-color: var(--g-color-base-warning-medium);
    }
    &_red {
        --progress-bar-border-color: var(--g-color-base-danger-heavy);
        --progress-bar-background-color: var(--g-color-base-danger-light);
        --progress-bar-fill-color: var(--g-color-base-danger-medium);
    }

    &_faded {
        // Fill color is medium variant, use it instead of heavy to make border less bright
        border-color: var(--progress-bar-fill-color);
        background-color: unset;
    }

    &_empty {
        color: var(--g-color-text-hint);
        border-style: dashed;
        background-color: unset;
    }

    &__fill-bar {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        border-radius: $inner-border-radius 0 0 $inner-border-radius;
        background-color: var(--progress-bar-fill-color);

        &_faded {
            // Bg color is light variant, use it to make bar less bright
            background-color: var(--progress-bar-background-color);
        }

        &_compact {
            border-radius: 1px;
        }

        &_inverted {
            right: 0;
            left: auto;

            border-radius: 0 $inner-border-radius $inner-border-radius 0;
        }
    }

    &__title {
        position: relative;
        z-index: 2;

        font-size: var(--g-text-body-1-font-size);
        // bar height minus borders
        line-height: calc(var(--g-text-body-3-line-height) - #{$border-width * 2});

        color: inherit;
    }
}
