@use '../../../styles/mixins.scss';

.ydb-connect-to-db-syntax-highlighter {
    &__wrapper {
        position: relative;
        z-index: 0;

        height: 100%;
    }

    &__sticky-container {
        z-index: 1;
        top: 52px;
        @include mixins.sticky-top();
    }

    &__copy {
        position: absolute;
        top: 13px;
        right: 14px;
    }
}
