@import '../../../../../../styles/mixins.scss';

.ydb-query-explain-text {
    &__inspector {
        overflow-y: auto;

        padding: 15px 20px;
        @include json-tree-styles();

        &_fullscreen {
            padding: 10px;
        }
    }
}
