.storage-disk-progress-bar {
    $block: &;
    position: relative;

    display: inline-block;

    width: 100%;
    height: var(--yc-text-body2-line-height);

    border: 1px solid var(--yc-color-infographics-misc-heavy);
    border-radius: 5px;
    background-color: var(--yc-color-infographics-misc-medium);

    #{$block}__filled {
        filter: brightness(0.3) saturate(3);
    }

    &_green {
        border-color: var(--yc-color-text-positive);
        background-color: var(--yc-color-text-positive);
        filter: opacity(0.8);
    }

    &_blue {
        border-color: var(--yc-color-infographics-info-heavy);
        background-color: var(--yc-color-infographics-info-medium);
        #{$block}__filled {
            filter: brightness(0.2) saturate(3);
        }
    }

    &_yellow {
        border-color: var(--yc-color-base-warning-heavy-hover);
        background-color: var(--yc-color-base-warning-heavy);
        filter: opacity(0.8);
    }

    &_orange {
        border-color: var(--yc-color-infographics-danger-medium);
        background-color: var(--yc-color-infographics-warning-medium);
        filter: opacity(0.8);
        #{$block}__filled {
            filter: brightness(0.7) saturate(3);
        }
    }
    &_red {
        border-color: var(--yc-color-base-danger-heavy-hover);
        background-color: var(--yc-color-base-danger-heavy);
        filter: opacity(0.8);
        #{$block}__filled {
            filter: brightness(0.3) saturate(4);
        }
    }

    &__filled {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        border-radius: 5px 0 0 5px;
        background-color: inherit;
        filter: brightness(0.6) saturate(2);
    }
    &__filled-title {
        position: absolute;
        top: 0;
        left: 5px;

        color: inherit;

        font-size: var(--yc-text-body-font-size);
        line-height: inherit;
        &_light {
            z-index: 100;

            color: var(--yc-color-text-light-primary);
        }
    }
}
