.yc-collapse {
    &__panel {
        display: inline-flex;
        align-items: center;

        cursor: pointer;

        &_no-data {
            cursor: default;
        }
    }

    &__title {
        margin: 0;
    }

    &__title_secondary {
        color: var(--yc-color-text-secondary);
    }

    &__title_size {
        &_s {
            font-size: var(--yc-text-body-1-font-size);
            line-height: var(--yc-text-body-1-line-height);
        }

        &_m {
            font-size: var(--yc-text-body-2-font-size);
            line-height: var(--yc-text-body-2-line-height);
        }

        &_l {
            font-size: var(--yc-text-body-3-font-size);
            line-height: var(--yc-text-body-3-line-height);
        }
    }

    &__arrow-wrapper {
        margin-left: 8px;
    }

    &__arrow-wrapper_secondary {
        color: var(--yc-color-text-secondary);
        .button2__text {
            color: var(--yc-color-text-secondary);
        }
    }

    &__content {
        display: none;

        &_visible {
            display: block;
        }
    }

    &__empty-state-title {
        font-size: var(--yc-text-body-1-font-size);
        font-weight: normal;
        line-height: var(--yc-text-body-1-line-height);

        opacity: 0.5;
    }

    &__arrow-button {
        .button2__text {
            margin: 0 4px;
        }
    }
}
