@use '../../styles/mixins.scss';

.ydb-query-result-table {
    &__cell {
        width: 100%;
        @include mixins.cell-container;
    }

    &__cell-popup {
        max-width: 300px;
        padding: 10px;

        word-break: break-word;
    }

    &__message {
        padding: 15px 10px;
    }

    // Must have fixed height for frequent data updates (to avoid interface shaking).
    // Will be fixed after migration to new @gravity-ui/table.
    &__table-wrapper {
        height: 0px;
    }
}
