@use '../../../../styles/mixins.scss';

.ydb-compact-table-action {
    &__disabled-button-wrapper {
        display: inline-flex;
    }

    &__popover {
        max-width: 260px;
        padding: var(--g-spacing-1) 0;
    }

    &__dialog-body {
        padding-top: var(--g-spacing-3);
        padding-bottom: 0;
    }

    &__dialog-row {
        width: 100%;
    }

    &__label {
        width: 100%;
        max-width: 150px;

        color: var(--g-color-text-secondary);

        @include mixins.body-1-typography();
    }

    &__input {
        max-width: 140px;
    }

    &__error {
        overflow-wrap: anywhere;
    }
}
