.pool-bar {
    position: relative;

    width: 6px;
    height: 20px;
    margin-right: 2px;

    cursor: pointer;

    border: 1px solid;
    border-radius: 1px;

    &:last-child {
        margin-right: 0;
    }

    &_type_normal {
        border-color: var(--yc-color-infographics-positive-heavy);
    }
    &_type_warning {
        border-color: var(--yc-color-infographics-warning-heavy);
    }
    &_type_danger {
        border-color: var(--yc-color-infographics-danger-heavy);
    }

    &__value {
        position: absolute;
        bottom: 0;

        width: 100%;
        min-height: 1px;

        &_type_normal {
            background-color: var(--yc-color-infographics-positive-heavy);
        }
        &_type_warning {
            background-color: var(--yc-color-infographics-warning-heavy);
        }
        &_type_danger {
            background-color: var(--yc-color-infographics-danger-heavy);
        }
    }
}
