.node-network {
    display: inline-block;

    box-sizing: border-box;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;

    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: var(--g-color-text-complementary);
    border: 1px solid transparent;
    border-radius: 4px;

    &_id {
        width: 42px;
        height: 14px;
    }

    &_blur {
        opacity: 0.25;
    }

    &_grey {
        background: var(--ydb-color-status-grey);
    }

    &_black {
        color: var(--g-color-text-light-primary);
        background-color: var(--ydb-color-status-black);
    }

    &_green {
        background-color: var(--ydb-color-status-green);
    }

    &_yellow {
        background-color: var(--ydb-color-status-yellow);
    }

    &_red {
        background-color: var(--ydb-color-status-red);
    }

    &:hover {
        border: 1px solid var(--g-color-text-primary);
    }
}
