@import '../../../../../../styles/mixins.scss';

.ydb-metrics-card {
    $b: &;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 10px;
    }

    &__label {
        font-weight: 600;
        @include lead-typography();
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        color: var(--g-color-text-secondary);

        @include header-1-typography();
    }

    &__progress {
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
    }

    &__resources {
        font-size: var(--g-text-body-1-font-size);

        color: var(--g-color-text-secondary);
    }

    &_active {
        #{$b}__content {
            color: var(--g-color-text-complementary);
        }

        #{$b}__progress-bar-circle-bg {
            stroke: var(--g-color-base-float);
        }
    }
}
