@use '../../../../../../styles/mixins.scss';

.ydb-metrics-card {
    $b: &;

    min-height: 252px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        margin-bottom: 10px;
    }

    &__note {
        display: flex;
        .g-help-mark__button {
            display: flex;
        }
    }

    &__label {
        font-weight: 600;

        color: var(--g-color-text-link);
        @include mixins.lead-typography();
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: var(--g-color-text-secondary);
    }

    &__metric-title {
        height: var(--g-text-body-2-line-height);
    }

    &_active {
        #{$b}__content {
            color: var(--g-color-text-complementary);
        }
    }
}
