.global-storage-nodes {
    &__pdisks-wrapper {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;

        min-width: 500px;
    }
    &__pool-name-wrapper {
        display: flex;
        align-items: flex-end;
    }
    &__pool-name {
        display: inline-block;
        overflow: hidden;

        width: 330px;
        max-width: 330px;

        text-overflow: ellipsis;
    }
    &__group-id {
        font-weight: 500;
    }
    &__tooltip-wrapper {
        display: flex;
        align-items: center;
    }
    &__tooltip {
        word-break: break-all;
    }
}
