.global-storage-nodes {
    &__pdisks-column {
        overflow: visible; // to enable stacked disks overflow the row
    }

    &__pdisks-wrapper {
        display: flex;
        justify-content: left;
        align-items: flex-end;

        width: max-content;
    }
    &__pdisks-item {
        flex-grow: 1;

        max-width: 200px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }
    }
    &__fqdn-field-wrapper {
        width: 330px;
    }
    &__fqdn-wrapper {
        display: flex;
        align-items: center;

        max-width: 330px;
    }
    &__fqdn {
        overflow: hidden;
    }

    &__group-id {
        font-weight: 500;
    }

    &__node_unavailable {
        opacity: 0.6;
    }

    &__external-button {
        display: none;

        margin-left: 4px;
    }
}

.data-table__row:hover {
    .global-storage-nodes__external-button {
        display: inline-flex;
    }
}
