.ydb-schema-create-directory-dialog {
    &__modal {
        position: relative;

        padding-bottom: 20px;
    }
    &__label {
        margin-bottom: 10px;
    }
    &__description {
        color: var(--g-color-text-secondary);
    }
    &__error {
        margin-top: 10px;

        color: var(--g-color-private-red-450);
    }
    &__invalid {
        position: absolute;

        color: var(--g-color-private-red-450);
    }
}
