.ydb-schema-create-directory-dialog {
    &__label {
        margin-bottom: 10px;
    }
    &__description {
        color: var(--g-color-text-secondary);
    }
    &__error {
        margin-top: 10px;

        color: var(--g-color-private-red-450);
    }
}
