.ydb-schema-create-directory-dialog {
    &__label {
        display: flex;
        flex-direction: column;

        margin-bottom: 8px;
    }
    &__description {
        color: var(--g-color-text-secondary);
    }
    &__error-wrapper {
        min-height: var(--g-text-body-1-line-height);
    }
}
