.info-viewer {
    font-size: var(--yc-text-body2-font-size);
    line-height: var(--yc-text-body2-line-height);
    &__title {
        margin: 15px 0 10px;

        font-size: var(--yc-text-body2-font-size);
        font-weight: 600;
        line-height: var(--yc-text-body2-line-height);
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 7px;

        max-width: 100%;
    }

    &__row {
        display: flex;
        align-items: flex-end;

        max-width: 100%;
        height: 24px;
    }

    &__label {
        display: flex;
        flex: 1 1 auto;
        align-items: baseline;

        max-width: 200px;

        white-space: nowrap;

        color: var(--yc-color-text-secondary);
    }

    &__dots {
        display: flex;
        flex: 1 1 auto;

        margin: 0 2px;

        border-bottom: 1px dotted var(--yc-color-text-secondary);
    }

    &__value {
        display: flex;

        white-space: nowrap;
    }
}
