.ydb-drawer {
    &__drawer-container {
        position: relative;

        overflow: hidden;

        height: 100%;
    }

    &__item {
        z-index: calc(var(--ydb-drawer-veil-z-index) + 1);

        height: 100%;
    }

    &__controls {
        margin-left: auto;
    }

    &__header-wrapper {
        position: sticky;
        z-index: 3;
        top: 0;
        left: 0;

        padding: var(--g-spacing-4) var(--g-spacing-4) 0 var(--g-spacing-4);

        background-color: var(--g-color-base-background);
    }

    &__content-wrapper {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        //split-pane resizer size
        margin-left: var(--g-spacing-2);
    }
    &__click-handler {
        display: contents;
    }
}
