.ydb-pool-usage {
    font-size: var(--yc-text-body-2-font-size);
    line-height: var(--yc-text-body-2-line-height);
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__pool-name {
        color: var(--yc-color-text-primary);
    }

    &__value {
        display: flex;
        align-items: center;
    }

    &__threads {
        font-size: var(--yc-text-body-1-font-size);

        color: var(--yc-color-text-hint);

        .yc-root_theme_dark & {
            color: var(--yc-color-text-hint);
        }
    }

    &__percents {
        margin-right: 2px;

        font-size: var(--yc-text-body-1-font-size);

        color: var(--yc-color-text-primary);
    }

    &__visual {
        position: relative;

        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        height: 6px;

        font-size: var(--yc-text-body-2-font-size);

        border-radius: 4px;
        background-color: var(--yc-color-base-generic-accent);
    }

    &__usage-line {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        &_type_green {
            background-color: var(--yc-color-base-positive-heavy);
        }
        &_type_blue {
            background-color: var(--yc-color-base-info-heavy);
        }
        &_type_yellow {
            background-color: var(--yc-color-text-warning-heavy);
        }
        &_type_red {
            background-color: var(--yc-color-base-danger-heavy);
        }
    }
}
