@import '../../../../styles/mixins.scss';

.ydb-storage-nodes-columns {
    &__pdisks-column {
        overflow: visible; // to enable stacked disks overflow the row
    }

    &__pdisks-wrapper {
        display: flex;
        gap: var(--pdisk-margin);

        width: var(--pdisks-container-width);
        height: 40px;

        @include calculate-storage-nodes-pdisk-variables();
    }

    &__pdisks-item {
        display: flex;
        flex-shrink: 0;
    }
}
