@import '../../../../styles/mixins.scss';

.ydb-storage-nodes-columns {
    &__pdisks-column {
        overflow: visible; // to enable stacked disks overflow the row

        @include calculate-storage-nodes-pdisk-variables();

        & .ydb-paginated-table__row-skeleton {
            width: var(--pdisks-container-width) !important;
        }
    }

    &__pdisks-wrapper {
        display: flex;
        gap: var(--pdisk-margin);

        width: var(--pdisks-container-width);
        height: 40px;
    }

    &__pdisks-item {
        display: flex;
        flex-shrink: 0;
    }
}
