@use '../../../../styles/mixins.scss';

.ydb-describe {
    &__message-container {
        padding: 15px 0;
    }

    &__result {
        position: relative;

        display: flex;
        overflow: auto;
        flex: 0 0 auto;

        padding: 0 20px 20px 0;
    }

    &__copy {
        position: absolute;
        left: 340px;
    }
}
