@use '../../../../styles/mixins.scss';

.ydb-storage-nodes-columns {
    &__pdisks-column {
        overflow: visible; // to enable stacked disks overflow the row
    }

    &__pdisks-wrapper {
        display: flex;
        gap: 10px;

        height: 40px;
    }

    &__pdisks-item {
        display: flex;
        flex-shrink: 0;
    }
}

@include mixins.hover-dim-column-class('ydb-storage-nodes-columns__pdisks-column');
