@use '../../../../../styles/mixins.scss';

.healthcheck {
    $block: &;

    &__details {
        width: 872px;
    }

    &__details-content-wrapper {
        overflow-x: hidden;
    }

    &__preview {
        display: flex;
        flex-direction: column;

        height: 100%;
    }

    &__preview-title {
        font-weight: 600;

        color: var(--g-color-text-link);

        @include mixins.lead-typography();
    }

    &__preview-content {
        margin: auto;

        line-height: 24px;
    }

    &__preview-status-icon {
        width: 64px;
        height: 64px;
    }

    &__preview-title-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        margin-bottom: 4px;
    }

    &__preview-issue {
        position: relative;
        top: -8px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        &_good {
            color: var(--g-color-text-positive);
            & #{$block}__self-check-status-indicator {
                background-color: var(--g-color-base-positive-light);
            }
        }
        &_degraded {
            color: var(--g-color-text-info);
            & #{$block}__self-check-status-indicator {
                background-color: var(--g-color-base-info-light);
            }
        }
        &_emergency {
            color: var(--g-color-text-danger);
            & #{$block}__self-check-status-indicator {
                background-color: var(--g-color-base-danger-light);
            }
        }
        &_unspecified {
            color: var(--g-color-text-misc);
            & #{$block}__self-check-status-indicator {
                background-color: var(--g-color-base-misc-light);
            }
        }
        &_maintenance_required {
            color: var(--g-color-text-warning-heavy);
            & #{$block}__self-check-status-indicator {
                background-color: var(--g-color-base-warning-light);
            }
        }
    }

    &__self-check-status-indicator {
        display: inline-block;

        padding: 0 8px;

        font-size: 13px;
        line-height: 24px;
        text-wrap: nowrap;

        border-radius: 4px;
    }
    &__icon-warn {
        color: var(--g-color-text-warning);
    }
    &__icon-wrapper {
        display: flex;
    }
}
