.vdisk-storage {
    flex-grow: 1;

    margin-right: 10px;

    cursor: pointer;

    &:last-child {
        margin-right: 0px;
    }
    &__popup-wrapper {
        padding: 5px 10px;
    }
    &__popup-content {
        display: grid;
        column-gap: 5px;
        justify-items: stretch;
    }
    &__popup-section-name {
        margin: 5px 0;

        text-align: center;

        border-bottom: 1px solid var(--yc-color-line-generic);

        font-weight: 500;
        grid-column: 1 / 3;
    }
    &__property {
        text-align: right;
    }
}
