@use '../../styles/mixins.scss';

.basic-node-viewer {
    display: flex;
    align-items: center;

    margin: 15px 0;

    @include mixins.body-2-typography();

    &__title {
        margin: 0 20px 0 0;

        font-weight: 600;
        text-transform: uppercase;
    }

    &__id {
        margin: 0 15px 0 24px;
    }

    &__label {
        margin-right: 10px;

        line-height: 18px;
        white-space: nowrap;

        color: var(--g-color-text-hint);
    }

    &__link {
        margin-left: 5px;
        @extend .link;
    }
}
