@use '../../styles/mixins.scss';

.ydb-entity-page-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--g-spacing-2);

    text-wrap: nowrap;

    @include mixins.header-2-typography();

    &__prefix {
        color: var(--g-color-text-secondary);
    }
}
