@import '../../styles/mixins.scss';

.tablet-page {
    $_: &;
    display: flex;
    flex-direction: column;

    padding: 20px;

    &__tenant {
        margin-bottom: 20px;
    }

    &__pane-wrapper {
        display: flex;
    }

    &__left-pane {
        margin-right: 70px;
    }
    &__history-title {
        margin-bottom: 15px;
        @include body2-typography();
    }

    &__placeholder {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }

    &__row {
        display: flex;
        align-items: center;

        &_header {
            margin-bottom: 20px;

            & #{$_}__link {
                margin: 0 10px 0 5px;
            }
        }
    }

    &__title {
        margin-right: 16px;

        font-size: var(--yc-text-body2-font-size);
        font-weight: 500;
        line-height: var(--yc-text-body2-line-height);
        text-transform: uppercase;
    }

    .info-viewer__items {
        grid-template-columns: auto;
    }

    &__link {
        @extend .link;
    }

    &__controls {
        margin: 20px 0 15px;
    }

    &__control {
        margin-right: 15px;
    }

    &__links {
        display: flex;

        margin: 5px 0 10px;
        padding: 0;

        list-style-type: none;

        & > * {
            margin: 0 10px 0 0;
        }
    }

    &__top-label {
        margin-right: 16px;

        font-size: var(--yc-text-body2-font-size);
        font-weight: 500;
        line-height: var(--yc-text-body2-line-height);
        text-transform: uppercase;
    }
}
