@use '../../styles/mixins.scss';

.ydb-tablet-page {
    $_: &;
    height: 100%;
    padding: 20px;
    @include mixins.body-2-typography();

    &__placeholder {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }

    &__loader {
        margin-left: var(--g-spacing-2);
    }
}
