.ydb-cell-with-popover {
    display: flex;

    max-width: 100%;

    &__popover {
        display: inline-block;
        overflow: hidden;

        max-width: 100%;

        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;

        .g-popover__handler {
            display: inline;
        }

        &_full-width {
            width: 100%;
        }
    }
}
