.ydb-cell-with-popover {
    display: inline-flex;

    max-width: 100%;

    &_full-width {
        display: flex;
    }

    &__popover {
        display: inline-block;

        max-width: 100%;
        padding: var(--g-spacing-4);

        vertical-align: middle;

        .g-popover__handler {
            display: inline;
        }

        &_full-width {
            width: 100%;
        }
    }
    &__children-wrapper {
        overflow: hidden;

        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_full-width {
            width: 100%;
        }
    }
}
