@use '../../styles/mixins.scss';

.ydb-syntax-highlighter {
    position: relative;
    z-index: 0;

    height: var(--ydb-syntax-highlighter-height, 100%);

    &__sticky-container {
        z-index: 1;
        top: 52px;
        @include mixins.sticky-top();
    }

    &__copy {
        position: absolute;
        top: 13px;
        right: 14px;

        pointer-events: all;

        opacity: 0;

        &_visible {
            opacity: 1;
        }
    }

    .data-table__row:hover &__copy,
    .ydb-paginated-table__row:hover &__copy {
        opacity: 1;
    }
}
