.vdisk-storage {
    &__popup-wrapper {
        padding: 12px;

        .info-viewer + .info-viewer {
            border-top: 1px solid var(--yc-color-line-generic);
            padding-top: 8px;
            margin-top: 8px;
        }
    }
}
