.ydb-metric-chart {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0;

    border: none;

    &__toolbar {
        margin-bottom: 10px;
    }

    &__chart {
        position: relative;

        display: flex;
        overflow: hidden;

        width: 100%;
        height: 100%;
    }

    &__error {
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 50%;

        text-align: center;

        transform: translateX(-50%);
    }
}
