@import '../../styles/mixins.scss';

.tenant-page {
    overflow: hidden;

    font-size: var(--yc-text-body2-font-size);
    line-height: var(--yc-text-body2-line-height);
    @include flex-container();

    .yc-tabs {
        overflow: initial;
    }

    &__loader {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        align-items: center;
    }

    &__content {
        overflow: auto;
        @include flex-container();
    }

    &__storage {
        overflow: auto;

        height: 100%;
        padding-left: 20px;
    }

    &__row {
        display: flex;
        align-items: flex-start;

        &_schema {
            height: 100%;
        }

        &_schema-tags {
            align-items: center;
        }
    }

    &__schema-wrapper {
        overflow: auto;

        min-width: 300px;
        height: 100%;
        padding-top: 15px;
        padding-left: 8px;
    }

    &__schema-tabs-wrapper {
        overflow: auto;

        width: 100%;
        height: 100%;
        padding: 15px 0 0 15px;

        border-left: 1px solid rgba(0, 0, 0, 0.07);
        @include flex-container();
    }
}
