@use '../../styles/mixins.scss';

.tenant-page {
    overflow: hidden;

    @include mixins.body-2-typography();
    @include mixins.flex-container();

    &__main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}
