@import '../../styles/mixins.scss';

.tenant-page {
    overflow: hidden;

    font-size: var(--yc-text-body-2-font-size);
    line-height: var(--yc-text-body-2-line-height);
    @include flex-container();
}
