.ydb-nbs-tablet-groups {
    --data-table-start: 0px;
    --ydb-table-with-controls-layout-controls-height: 0px;
    --sticky-tabs-height: 0px;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 100%;
    padding: 16px;

    &__controls {
        flex-shrink: 0;

        margin-bottom: 16px;
    }

    &__table {
        overflow: auto;
        flex: 1;

        min-height: 0;
    }

    &__disk {
        flex-shrink: 0;

        width: 24px;
    }
}
