.nv-composite-bar {
    $class: &;

    flex: 1 0 auto;

    width: 100%;
    min-height: 40px;

    &__root-menu-item {
        cursor: pointer;
    }

    &__root-menu-item.yc-list__item_selected:not(&__root-menu-item_compact) {
        background-color: var(--yc-color-base-selection);
    }

    & &__root-menu-item_compact#{&}__root-menu-item {
        background-color: transparent;
    }

    &__menu-item {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__menu-icon-place {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;

        width: var(--nv-aside-header-min-width);
        height: 100%;
    }

    #{$class} &__menu-icon {
        color: var(--yc-color-text-misc);
    }

    &__menu-title {
        overflow: hidden;

        width: 100%;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__root-collapse-item {
        cursor: pointer;
    }

    &__collapse-item {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    &__collapse-items-popup-content {
        padding: 4px 0;
    }

    &__link {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;

        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;

            color: inherit;
            outline: none;
        }
    }

    &__btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        &::before {
            border-radius: 0;
        }

        &_current {
            background-color: var(--yc-color-base-selection);
        }

        @at-root .yc-list__item_active &:not(&_current) {
            background-color: var(--yc-color-base-simple-hover);
        }
    }
}
