@use '../../../../styles/mixins.scss';

.ydb-query-editor-button {
    &__explain-button,
    &__stop-button,
    &__run-button {
        width: 92px;
    }

    &__stop-button {
        color: var(--g-color-text-brand-contrast);
        background-color: var(--g-color-text-danger);
        &_error {
            @include mixins.query-buttons-animations();
        }
    }
}
