.ydb-query-editor-controls {
    display: flex;
    flex: 0 0 40px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;

    min-height: 40px;
    padding: 5px 0px;

    &__left {
        display: flex;
        gap: 12px;
    }

    &__mode-selector {
        $b: &;

        &__button {
            width: 241px;
            margin-left: 2px;
        }

        &__button-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 215px;
        }

        &__popup {
            width: 241px;
        }
    }

    &__item-with-popover {
        display: flex;
        align-items: center;

        height: 24px;

        line-height: initial;
    }

    &__popover {
        max-width: 420px;

        white-space: pre-wrap;
    }
}
