.ydb-query-editor-controls {
    display: flex;
    flex: 0 0 40px;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 40px;
    padding: 5px 0px;

    gap: 24px;

    &__left {
        display: flex;
        gap: 12px;
    }

    &__run {
        .yc-button__text {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }

    &__mode-selector {
        $b: &;

        &__button {
            width: 189px;
            margin-left: 2px;
        }

        &__button-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 163px;
        }

        &__popup {
            width: 189px;

            &_extended {
                width: 241px;
            }
        }

        &_extended {
            #{$b}__button {
                width: 241px;
            }
            #{$b}__button-content {
                width: 215px;
            }
        }
    }

    &__item-with-popover {
        display: flex;
        align-items: center;

        height: 24px;

        line-height: initial;
    }

    &__popover {
        max-width: 340px;
    }
}
