.ydb-query-editor-controls {
    display: flex;
    flex: 0 0 40px;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 40px;
    padding: 5px 0px;

    gap: 24px;

    &__left {
        display: flex;
        gap: 12px;
    }

    &__run {
        .yc-button__text {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }

    &__mode-selector {
        &__popup {
            width: 120px;
        }

        &__button {
            width: 120px;
            margin-left: 2px;
        }

        &__button-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100px;
        }
    }
}
