@import '../../styles/mixins';

.tablets {
    @include flex-container();

    &__header {
        display: flex;
        gap: 12px;

        align-items: center;

        margin-bottom: 16px;
    }

    &__items {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
    }

    &__items-wrapper {
        overflow: auto;
    }

    &__filters {
        display: flex;
        align-items: center;
    }

    &__filter-control {
        width: 180px;
        min-width: 100px;
        max-width: 180px;
    }

    &__tablet {
        margin-bottom: 2px;
    }

    .tablet {
        display: inline-block;

        line-height: 18px;
        text-align: center;
    }

    &__loader-wrapper {
        display: flex;
        justify-content: center;
    }
}
