.yql-highlighter {
    code {
        white-space: pre-wrap !important;

        color: var(--g-color-text-primary) !important;
    }

    pre {
        margin: 0 !important;

        background: transparent !important;
    }
}
