@import '../../../styles/mixins';

.cluster-info {
    $_: &;
    $progress_width: 100%;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    width: 100%;

    font-size: var(--yc-text-body-2-font-size);
    line-height: var(--yc-text-body-2-line-height);

    &__header {
        padding: 20px;

        border-bottom: 1px solid var(--yc-color-line-generic);
        background: var(--yc-color-base-background);
    }

    &__title {
        display: flex;
        align-items: center;

        margin-top: 16px;
        margin-bottom: 20px;
    }

    &__metric-field {
        margin-top: -8px;
    }

    &__system-tablets {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & .tablet {
            margin-bottom: 2px;
        }
    }

    &__metrics {
        margin: 0 -15px;
        padding: 0 15px !important;

        .info-viewer__items {
            grid-template-columns: repeat(2, minmax(auto, 250px));
        }

        .info-viewer__label {
            width: 50px;
        }
        .info-viewer__value {
            width: 130px;
        }
    }

    &__tablets {
        margin-left: 15px;
        padding: 0 !important;
    }

    &__links {
        display: flex;
        flex-flow: row wrap;

        gap: 12px;
    }

    &__clipboard-button {
        display: flex;
        align-items: center;

        margin-left: 5px;
    }
}
