@use '../../../styles/mixins';

.cluster-info {
    --g-definition-list-item-gap: var(--g-spacing-3);
    padding: var(--g-spacing-4) 0 var(--g-spacing-2);

    @include mixins.body-2-typography();

    &__skeleton {
        margin-top: 5px;
    }

    &__dc {
        height: 20px;
    }

    &__clipboard-button {
        display: flex;
        align-items: center;

        margin-left: 5px;
    }

    &__bridge-table {
        flex: 0 0 360px; // do not shrink, fixed basis so stats don't take all space

        min-width: 360px;
    }
}
