@use '../../../styles/mixins';

.cluster-info {
    padding: 20px 0;

    @include mixins.body-2-typography();

    &__skeleton {
        margin-top: 5px;
    }

    &__section-title {
        margin: var(--g-spacing-1) 0 var(--g-spacing-3);
        @include mixins.text-subheader-2();
    }

    &__dc {
        height: 20px;
    }

    &__clipboard-button {
        display: flex;
        align-items: center;

        margin-left: 5px;
    }
}
