@use '../../styles/mixins';

.node {
    --ydb-configs-controls-height: 62px;
    --ydb-configs-container-height: calc(100vh - var(--header-height));
    position: relative;

    overflow: auto;

    height: 100%;
    padding: 0 20px;

    &__meta,
    &__title,
    &__info,
    &__error,
    &__tabs {
        position: sticky;
        left: 0;

        margin-bottom: 20px;
    }

    &__meta {
        margin-top: 20px;
    }

    &__tabs,
    &__error {
        margin-bottom: 0;
    }

    &__tabs {
        @include mixins.tabs-wrapper-styles();
    }
    &__treads {
        --ydb-table-with-controls-layout-controls-height: 0px;
    }
}
