@import '../../styles/mixins';

.node {
    overflow: auto;
    @include flex-container();

    &__content {
        position: relative;

        overflow: auto;
        @include flex-container();
    }

    &__storage {
        overflow: auto;

        height: 100%;
        padding-left: 20px;
    }

    &__tabs {
        padding: 16px 20px 0;
        @include body2-typography();
    }

    &__tab {
        margin-right: 40px;

        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }

        &:first-letter {
            text-transform: uppercase;
        }
    }

    &__overview-wrapper {
        padding: 0 20px;
    }

    &__node-page-wrapper {
        padding: 20px;
    }
}
