@import '../../../../../../styles/mixins.scss';

.ydb-query-json-viewer {
    &__inspector {
        overflow-y: auto;

        width: 100%;
        height: 100%;
        padding: 15px 10px;
        @include json-tree-styles();
    }
}
