@import '../../../../styles/mixins.scss';

.ydb-queries-history {
    overflow: auto;

    height: 100%;
    padding: 0 20px;

    @include flex-container();

    .ydb-table-with-controls-layout__controls {
        height: 46px;
        padding-top: 0;
    }

    &.ydb-table-with-controls-layout .data-table__sticky_moving {
        top: 46px !important;
    }

    &__search {
        @include search();
    }

    &__table-row {
        cursor: pointer;
    }

    &__query {
        overflow: hidden;
        flex-grow: 1;

        white-space: pre;
        text-overflow: ellipsis;
    }
}
