@use '../../../../styles/mixins.scss';

.ydb-queries-history {
    --ydb-table-with-controls-layout-controls-height: 44px;
    overflow: auto;

    height: 100%;
    padding: 0 20px;

    @include mixins.flex-container();

    .ydb-table-with-controls-layout__controls {
        height: var(--ydb-table-with-controls-layout-controls-height);
        padding-top: 0;
    }

    &__search {
        @include mixins.search();
    }

    &__table-row {
        cursor: pointer;
    }

    &__query {
        overflow: hidden;
        flex-grow: 1;

        white-space: pre;
        text-overflow: ellipsis;
    }
}
