@use '../../styles/mixins.scss';

.empty-state {
    $block: &;
    padding: 20px;

    &_size_m {
        height: 400px;
    }

    &__wrapper {
        display: grid;
        grid-template-areas:
            'image title'
            'image description'
            'image actions';

        &_size_xs {
            width: 321px;
            height: 100px;
            #{$block}__image {
                margin-right: 20px;
            }
        }
        &_size_s {
            width: 460px;
            height: 120px;
        }

        &_size_m {
            width: 800px;
            height: 240px;
        }

        &_position_center {
            position: relative;

            margin: 0 auto;
        }
        &_position_left {
            margin: unset;
        }
    }

    &__image {
        grid-area: image;
        justify-self: end;

        margin-right: 60px;

        color: var(--g-color-base-info-light-hover);

        .g-root_theme_dark & {
            color: var(--g-color-base-generic);
        }
    }

    &__title {
        align-self: center;
        grid-area: title;

        font-weight: 500;

        &_size_s {
            @include mixins.lead-typography();
        }

        &_size_m {
            @include mixins.header-2-typography();
        }
    }

    &__description {
        grid-area: description;

        @include mixins.body-2-typography();
    }

    &__actions {
        grid-area: actions;

        & > * {
            margin-right: 8px;
        }
    }
}
