.tablets-viewer {
    &__grid {
        display: grid;
        grid-gap: 8px;

        grid-template-columns: repeat(auto-fill, 125px);
    }

    &__row {
        display: flex;
        align-items: center;

        margin: 0;
    }

    &__tablet-label {
        min-width: 60px;
        margin-right: 20px;

        font-size: var(--yc-text-body-font-size);
        line-height: 18px;
        white-space: nowrap;
        text-transform: capitalize;

        color: var(--yc-color-text-hint);

        .yc-root_theme_dark & {
            color: var(--yc-color-text-hint);
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 16px;

        font-size: var(--yc-text-body2-font-size);
        font-weight: bold;
        line-height: 20px;
    }
}
