.ydb-storage-group-info {
    gap: var(--g-spacing-4) var(--g-spacing-6);

    &__configuration {
        width: 380px;
        max-width: 100%;
    }

    &__capacity {
        width: 500px;
        max-width: 100%;
    }

    .g-definition-list {
        --g-definition-list-item-gap: var(--g-spacing-3);
    }
}
