.ydb-consumers {
    &__search {
        width: 200px;
        margin-bottom: 20px;
    }
    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }
}
