@import '../../../../styles/mixins.scss';

.ydb-diagnostics-consumers {
    overflow: auto;
    flex-grow: 1;

    height: 100%;

    @include flex-container();

    &__controls {
        @include controls();
    }

    &__search {
        @include search();
    }

    &__table-settings .yc-icon {
        width: 20px;
    }

    &__table-wrapper {
        overflow: auto;
        @include flex-container();
    }

    &__table-content {
        overflow: auto;

        height: 100%;

        @include freeze-nth-column(1);
    }
}
