.kv-detailed-overview {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100%;

    // Delete padding for all query text on Diagnostics -> Info tab
    pre {
        padding: 0;
    }
}
