.kv-detailed-overview {
    --g-definition-list-item-gap: var(--g-spacing-3);
    --ydb-info-viewer-title-margin: 0 0 10px;

    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100%;
    padding-bottom: var(--g-spacing-5);

    > :not(:first-child) {
        margin-top: var(--g-spacing-5);
    }

    > .ydb-schema-object-info + .ydb-definition-list {
        margin-top: var(--g-spacing-3);
    }

    .info-viewer {
        --ydb-info-viewer-items-gap: var(--g-spacing-2);
    }
}
