.kv-detailed-overview {
    display: flex;
    gap: 10px;
    &__section {
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
    }

    &__modal {
        & .yc-modal__content {
            position: relative;
        }
    }

    &__close-modal-button {
        position: absolute;
        top: 10px;
        right: 10px;

        & .yc-button__text {
            display: flex;

            margin: 0 4px;
        }
    }
}
