.ydb-pdisk-space-distribution {
    .storage-disk-progress-bar {
        height: 100%;
    }

    &__pdisk-bar {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: var(--g-spacing-2);

        min-width: 500px;
        max-width: 800px;
        padding: var(--g-spacing-2);
    }

    &__slot-wrapper {
        z-index: 1;

        width: 100%;

        background-color: var(--g-color-base-background);
    }

    &__slot {
        display: flex;

        width: 100%;
    }

    &__slot-content {
        z-index: 1;

        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 var(--g-spacing-2);

        line-height: 15px;
    }

    &__slot-id {
        margin-right: var(--g-spacing-3);

        font-weight: 600;
    }

    &__vdisk-popup {
        padding: var(--g-spacing-half) var(--g-spacing-2) var(--g-spacing-2);
    }
}
