@use '../../../../styles/mixins.scss';

.ydb-tablet-storage-info {
    $block: &;

    &__metrics-cell {
        padding: var(--g-spacing-1) var(--g-spacing-2);

        white-space: nowrap;
    }
    &__name-wrapper {
        padding: var(--g-spacing-1) var(--g-spacing-2);
    }
    &__with-padding {
        padding-left: calc(var(--g-spacing-2) + var(--g-spacing-6));
    }
    &__name-content_no-control {
        padding-left: var(--g-spacing-6);
    }
}
