.ydb-doughnut-metrics {
    --doughnut-border: 16px;
    --doughnut-color: var(--ydb-color-status-green);
    --doughnut-backdrop-color: var(--g-color-base-positive-light);
    --doughnut-overlap-color: var(--g-color-base-positive-heavy-hover);
    &__doughnut {
        position: relative;

        width: 100px;
        aspect-ratio: 1;

        border-radius: 50%;

        transform: rotate(180deg);
        &::before {
            display: block;

            height: calc(100% - calc(var(--doughnut-border) * 2));

            content: '';

            border-radius: 50%;
            background-color: var(--g-color-base-background);

            transform: translate(var(--doughnut-border), var(--doughnut-border));
            aspect-ratio: 1;
        }
    }
    &__doughnut_status_warning {
        --doughnut-color: var(--ydb-color-status-yellow);
        --doughnut-backdrop-color: var(--g-color-base-warning-light);
        --doughnut-overlap-color: var(--g-color-base-warning-heavy-hover);
    }
    &__doughnut_status_danger {
        --doughnut-color: var(--ydb-color-status-red);
        --doughnut-backdrop-color: var(--g-color-base-danger-light);
        --doughnut-overlap-color: var(--g-color-base-danger-heavy-hover);
    }
    &__text-wrapper {
        --wrapper-indent: calc(var(--doughnut-border) + 5px);

        position: absolute;
        top: var(--wrapper-indent);
        right: var(--wrapper-indent);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: calc(100% - calc(var(--wrapper-indent) * 2));

        text-align: center;

        transform: rotate(180deg);
        aspect-ratio: 1;
    }
    &__value {
        position: absolute;
        bottom: 20px;
    }
    &__legend-note {
        display: flex;
    }
}
