@use '../../styles/mixins.scss';

.tenants {
    &__format-label {
        margin-right: 15px;
    }

    &__title {
        text-align: center;
    }

    &__tooltip {
        animation: none !important;
    }

    &__search {
        @include mixins.search();
    }

    &__tablets {
        padding: 0 !important;

        .tablets-viewer__grid {
            grid-gap: 20px;
        }
    }

    &__type {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &__type-value {
        overflow: hidden;

        width: min-content;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__type-button {
        display: none;
    }

    .data-table__row:hover &__type-button {
        display: block;
    }

    &__name {
        overflow: hidden;
    }

    &__table-wrapper {
        display: contents;

        width: max-content;
    }
}
