@import '../../styles/mixins.scss';

.tenants {
    &__format-label {
        margin-right: 15px;
    }

    &__title {
        text-align: center;
    }

    &__tooltip {
        animation: none !important;
    }

    &__search {
        @include search();
    }

    &__tablets {
        padding: 0 !important;

        .tablets-viewer__grid {
            grid-gap: 20px;
        }
    }

    &__table {
        @include table-styles;
    }

    &__type-value {
        margin-right: 10px;
    }

    &__type-button {
        visibility: hidden;
    }

    .data-table__row:hover &__type-button {
        visibility: visible;
    }

    &__name-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__name {
        overflow: hidden;
    }
}
