.kv-truncated-query {
    max-width: 100%;

    vertical-align: top;
    white-space: pre;
    word-break: break-word;

    &__message {
        white-space: pre-wrap;

        &_color {
            &_secondary {
                color: var(--g-color-text-secondary);
            }
        }
    }
    pre {
        padding: 0;
    }
}
