.ydb-partitions-progress {
    &__segment {
        display: flex;
        flex-basis: 0;

        &_left,
        &_right {
            min-width: 20px;
        }

        &_main {
            min-width: 70px;
        }
    }

    &__segment-bar {
        &_left,
        &_right {
            --g-progress-filled-background-color: var(--g-color-base-danger-heavy);
        }

        &_main {
            --g-progress-filled-background-color: var(--g-color-base-info-heavy);
            --g-progress-empty-background-color: var(--g-color-base-info-light);
        }
    }

    &__segment-labels {
        display: flex;

        &_left {
            justify-content: flex-start;
        }

        &_right {
            justify-content: flex-end;
        }

        &_main {
            justify-content: space-between;
        }
    }

    &__segment-touched {
        padding: var(--g-spacing-2);

        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
    }
}
