@import '../../../../styles/mixins.scss';

.ydb-hot-keys {
    &__table {
        @include freeze-nth-column(1);
    }

    &__primary-key-column {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
