@import '../../../../styles/mixins.scss';

.hot-keys {
    display: flex;
    overflow: auto;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;

    max-height: 100%;

    background-color: var(--yc-color-base-background);

    &__table-content {
        overflow: auto;

        width: 100%;
        height: 100%;
        @include freeze-nth-column(1);
    }

    &__header {
        position: sticky;
        z-index: 2;
        top: 0px;
        left: 0;

        width: 100%;
        padding: 10px 0;

        background-color: var(--yc-color-base-background);
    }
    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
    &__stub {
        margin: 10px;
    }
    &__primary-key-column {
        display: flex;
        gap: 5px;

        align-items: center;
    }
}
