@use '../../../../styles/mixins.scss';

.network {
    display: flex;
    overflow: auto;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1305px;
    height: 100%;

    @include mixins.body-2-typography();

    &__nodes-row {
        display: flex;
        overflow: auto;
        flex-grow: 1;
        flex-direction: row;
        align-items: flex-start;

        height: 100%;
    }

    &__inner {
        overflow: auto;
        @include mixins.flex-container();
    }

    &__right {
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }

    &__left {
        height: 100%;

        border-right: 1px solid var(--g-color-base-generic-accent);
    }

    &__placeholder {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__placeholder-text {
        margin-top: 15px;
    }

    &__placeholder-img {
        color: transparent;
    }

    &__nodes {
        display: flex;
        flex-wrap: wrap;
    }

    &__nodes-container {
        min-width: 325px;

        &_right {
            margin-right: 60px;
        }
    }

    &__nodes-title {
        margin: 0 0 15px;

        color: var(--g-color-text-secondary);
        border-bottom: 1px solid var(--g-color-base-generic-accent);

        @include mixins.body-2-typography();
    }

    &__link {
        text-decoration: none;

        color: var(--g-color-base-brand);
    }

    &__title {
        margin: 20px 0;

        font-weight: 500;

        @include mixins.body-1-typography();
    }

    &__checkbox-wrapper {
        display: flex;
        align-items: center;
        label {
            white-space: nowrap;
        }
    }

    &__label {
        margin-bottom: 16px;
    }

    &__controls {
        display: flex;
        gap: 12px;

        margin: 0 16px 16px 0;
    }

    &__controls-wrapper {
        display: flex;
        flex-direction: row;
        @include mixins.flex-container();
    }

    &__select {
        max-width: 115px;
        margin: 0 15px;
    }

    &__rack-column {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 5px;
        margin-bottom: 5px;
        padding: 2px;

        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.07);

        .node-network {
            margin-right: 0;
        }
    }
}

.node-tooltip {
    padding: 10px;

    &__label {
        padding-right: 15px;

        color: var(--g-color-text-secondary);
    }
}
