.ydb-media-section-summary {
    &__cards {
        display: grid;
        grid-template-columns: minmax(0, 48fr) minmax(0, 23fr);
        gap: var(--g-spacing-1);

        width: 100%;
    }

    &__card {
        --g-card-border-radius: var(--g-border-radius-s);
        padding: var(--g-spacing-3) var(--g-spacing-6);
        padding-right: var(--g-spacing-7);

        border-radius: var(--g-border-radius-m) var(--g-border-radius-xs) var(--g-border-radius-xs)
            var(--g-border-radius-m);
        background-color: var(--g-color-base-generic);

        &_groups {
            padding-right: var(--g-spacing-6);

            border-radius: var(--g-border-radius-xs) var(--g-border-radius-m)
                var(--g-border-radius-m) var(--g-border-radius-xs);
        }
    }

    &__main {
        display: flex;
        gap: calc(var(--g-spacing-8) + var(--g-spacing-4));
    }

    &__metric-card {
        min-width: 0;

        &-subtitle {
            margin-top: var(--g-spacing-1);
        }

        &-help-mark {
            color: var(--g-color-text-secondary);
        }
    }
}
