@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import '../../styles/mixins.scss';

* {
    // FIXME: this is an overkill, potentially could break external components, needs refactoring
    box-sizing: border-box;

    // Make all digits in the app monospace
    font-variant-numeric: tabular-nums;
}

.g-select-popup__tick-icon {
    // this is a local fix, remove after the refactoring
    box-sizing: content-box;
}

html,
body,
#root {
    overflow: auto;

    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --g-color-base-yellow-light: rgba(255, 199, 0, 0.15);
    --g-color-base-yellow-medium: rgba(255, 219, 77, 0.4);

    --data-table-row-height: 40px;
}

.g-root {
    --ydb-data-table-color-hover: var(--g-color-base-float-hover);

    // Colors for tablets, status icons and progress bars
    --ydb-color-status-grey: var(--g-color-base-neutral-heavy);
    --ydb-color-status-green: var(--g-color-base-positive-heavy);
    --ydb-color-status-yellow: var(--g-color-base-warning-heavy);
    --ydb-color-status-orange: #ff922e;
    --ydb-color-status-red: var(--g-color-base-danger-heavy);
    --ydb-color-status-blue: var(--g-color-base-info-heavy);
    --ydb-color-status-black: var(--g-color-base-misc-heavy);
}

:is(#tab, .g-tabs-item_active .g-tabs-item__title) {
    color: var(--g-color-text-primary) !important;
}

:is(#tab, .g-tabs-item__title) {
    color: var(--g-color-text-secondary);
}

.gn-aside-header__pane-container {
    height: 100%;
}

.gn-aside-header__content {
    position: relative;

    display: flex;
    overflow: auto;
    flex-direction: column;

    height: 100%;
}

.loader {
    @include loader();
}

.app {
    height: 100%;
    @include flex-container();

    &__main {
        overflow: auto;
        @include flex-container();
    }

    .data-table {
        width: 100%;
        @include body-2-typography();

        &__table {
            max-width: 100%;

            border-spacing: 0;
            border-collapse: separate;
        }
    }

    .data-table__th {
        font-weight: bold;

        border-top: unset;
        border-right: unset;
        border-left: unset;
    }

    .data-table__sticky .data-table__th,
    .data-table__td {
        height: var(--data-table-row-height);

        vertical-align: middle;

        border-top: unset;
        border-right: unset;
        border-left: unset;
    }
}

.error {
    color: var(--g-color-text-danger);
}

.data-table__row,
.ydb-virtual-table__row,
.ydb-tree-view__item {
    &:hover,
    &:focus-within {
        & .clipboard-button {
            visibility: visible;
        }
    }
}

.g-root .data-table_highlight-rows .data-table__row:hover {
    background: var(--ydb-data-table-color-hover);
}

.g-table-column-setup__item {
    /* stylelint-disable-next-line declaration-no-important*/
    padding: 0 8px 0 32px !important;
    /* stylelint-disable-next-line declaration-no-important*/
    cursor: pointer !important;
}

.app_embedded {
    font-family: 'Rubik', sans-serif;
}

.g-popup {
    max-width: 500px;
}
