.group-viewer {
    display: flex;
    align-items: center;
    &__group {
        margin-right: 20px;
    }

    &__label {
        margin-right: 20px;

        font-size: var(--yc-text-body-1-font-size);

        color: var(--yc-color-text-complementary);
    }

    &__name {
        display: inline-block;

        text-decoration: none;

        color: var(--yc-color-base-special);

        &:before {
            transform: translateY(3px);
        }
    }

    &__latency {
        margin-right: 20px;
    }

    &__vdisks {
        display: flex;
    }

    &__disk-overall {
        .entity-status:before {
            margin-right: 5px;
        }
    }

    &__progress {
        margin-right: 10px;
    }
}
