.ydb-diagnostics-consumers-columns-header {
    &__lags {
        white-space: nowrap;
    }

    &__lags-popover-content {
        max-width: 300px;

        div:nth-child(1) {
            margin-bottom: 10px;
        }
    }
}
