.top-shards {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;

    background-color: var(--yc-color-base-background);

    &__loader {
        display: flex;
        justify-content: center;
    }

    &__table {
        overflow: auto;
        flex-grow: 1;
    }

    &__usage-label {
        &_overload {
            color: var(--yc-color-text-light-primary);
            background-color: var(--yc-color-base-danger-heavy);
        }
    }
}
