@use '../../../styles/mixins.scss';

.ydb-cluster-dashboard {
    &__dashboard-wrapper {
        gap: var(--g-spacing-6);

        padding-top: var(--g-spacing-4);
    }

    &__dashboard-wrapper_collapsed {
        gap: var(--g-spacing-1);

        margin-right: var(--g-spacing-4);
        margin-left: auto;
        padding-top: unset;
    }

    &__error {
        @include mixins.body-2-typography();
    }

    &__skeleton-wrapper {
        padding: unset;

        border: unset;
    }
    &__skeleton {
        height: 100%;
    }
    &__overview-wrapper {
        padding: var(--g-spacing-4);

        border: 1px solid var(--g-color-line-generic);
        border-radius: 5px;

        .g-disclosure__trigger {
            width: 100%;
        }
    }

    &__overview-wrapper_collapsed {
        &:hover {
            border-color: var(--g-color-line-generic-hover);
        }
    }

    &__card {
        min-width: 280px;
        height: 132px;
    }

    &__card_collapsed {
        min-width: 120px;
        height: 28px;
    }
}
