@import '../../styles/mixins.scss';

.global-storage {
    &__search {
        @include search();
    }

    &__table {
        .yc-tooltip {
            // stylelint-disable-next-line declaration-no-important
            height: var(--g-text-body-2-line-height) !important;
        }

        table {
            min-width: 100%;
        }
    }

    .entity-status {
        justify-content: center;
    }
}
