@use '../../styles/mixins.scss';

.global-storage {
    &__search {
        @include mixins.search();
    }

    &__table {
        .g-tooltip {
            // stylelint-disable-next-line declaration-no-important
            height: var(--g-text-body-2-line-height) !important;
        }
    }

    .entity-status {
        justify-content: center;
    }
}
