@import '../../styles/mixins.scss';

.global-storage {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    max-height: 100%;

    &__controls {
        position: sticky;
        z-index: 2;
        top: 0;

        width: 100%;

        background-color: var(--yc-color-base-background);
        @include controls();
    }
    &__search {
        @include search();
    }

    &__table-wrapper {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        min-width: 100%;

        font-size: var(--yc-text-body2-font-size);
        line-height: var(--yc-text-body2-line-height);

        .yc-tooltip {
            // stylelint-disable-next-line declaration-no-important
            height: var(--yc-text-body2-line-height) !important;
        }

        table {
            min-width: 100%;
        }
    }

    &__loader {
        display: flex;
        justify-content: center;

        margin-top: 100px;
    }
    .entity-status {
        justify-content: center;
    }
}
