.kv-tablets-overall {
    &__row {
        display: flex;
        align-items: center;
        gap: 8px;

        &_overall {
            .yc-progress {
                width: 166px;
                margin: 0;
            }
        }
    }

    &__label {
        font-weight: 500;
    }
}
