@use '../../styles/mixins.scss';

.ydb-code-block {
    overflow: hidden;

    border-radius: var(--g-border-radius-xs);

    &__header {
        display: flex;
        align-items: center;

        height: 32px;
        padding: var(--g-spacing-half) var(--g-spacing-2) var(--g-spacing-half) var(--g-spacing-3);

        border-bottom: 1px solid var(--g-color-line-generic);
        border-radius: var(--g-border-radius-m) var(--g-border-radius-m) 0 0;
        background-color: var(--g-color-base-generic-medium);

        @include mixins.text-body-short();
    }

    &__syntax-highlighter {
        --ydb-syntax-highlighter-height: auto;

        padding: var(--g-spacing-1) 0;

        background-color: var(--g-color-base-generic);

        .ydb-syntax-highlighter__content {
            height: auto;
            padding: var(--g-spacing-1) var(--g-spacing-2);

            background-color: transparent;

            pre {
                padding: 0 0 0 var(--g-spacing-1);

                @include mixins.text-code-1();
            }
        }

        .ydb-syntax-highlighter__copy {
            top: var(--g-spacing-2);
            right: var(--g-spacing-2);
        }
    }
}
