@use '../../styles/mixins';

.ydb-home-page {
    position: relative;

    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 0 var(--g-spacing-6) 0 var(--g-spacing-4);

    &__controls-wrapper {
        position: sticky;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        padding-top: var(--g-spacing-4);
    }

    &__content-wrapper {
        width: max-content;
    }
}
