{
    "parser": "@typescript-eslint/parser",
    "extends": "@gravity-ui/eslint-config/client",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "react-hooks/exhaustive-deps": [
            "warn",
            {
                "additionalHooks": "(useAutofetcher)"
            }
        ],
        "valid-jsdoc": "off",
        "@typescript-eslint/naming-convention": [
            "warn",
            {
                "selector": "typeLike",
                "format": ["PascalCase"],
                "leadingUnderscore": "forbid",
                "custom": {
                    "regex": "^I[A-Z]",
                    "match": false
                }
            }
        ]
    }
}
