{
    "extends": "@gravity-ui/eslint-config/client",
    "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "valid-jsdoc": "off",
        "react/jsx-fragments": ["error", "element"],
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ImportDeclaration[source.value='react'] :matches(ImportNamespaceSpecifier, ImportSpecifier)",
                "message": "Please use import React from 'react' instead.",
            },
            {
                "selector": "TSTypeReference>TSQualifiedName[left.name='React'][right.name='FC']",
                "message": "Don't use React.FC",
            },
        ],
    },
}
