@import '../../styles/mixins.scss';

.vdisk-pdisk-node {
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

    padding: 20px;
    @include container-fluid();

    .info-viewer__items {
        grid-template-columns: max-content;
    }

    &__row {
        display: flex;
    }

    &__column {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;
    }

    &__title {
        margin-right: 16px;

        font-size: var(--yc-text-body-2-font-size);
        font-weight: 500;
        line-height: var(--yc-text-body-2-line-height);
        text-transform: uppercase;
    }

    &__section {
        padding: 15px 0;

        .info-viewer__label {
            min-width: 205px;
        }
    }

    &__link {
        text-decoration: none;

        color: var(--yc-color-base-special);
    }
    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-top: 50px;
    }
    .info-viewer__row {
        align-items: flex-end;
    }
}
