@import '../../styles/mixins.scss';

.ydb-virtual-table {
    $block: &;
    $cell-border: 1px solid var(--virtual-table-border-color);
    --virtual-table-cell-vertical-padding: 5px;
    --virtual-table-cell-horizontal-padding: 10px;

    --virtual-table-border-color: var(--g-color-base-generic-hover);
    --virtual-table-hover-color: var(--g-color-base-float-hover);

    width: 100%;
    @include body-2-typography();

    &__table {
        width: max-content;
        max-width: 100%;

        table-layout: fixed;
        border-spacing: 0;
        border-collapse: separate;

        th,
        td {
            padding: 0;
        }
    }

    &__row {
        &:hover {
            background: var(--virtual-table-hover-color);
        }

        &_empty {
            &:hover {
                background-color: initial;
            }
        }
    }

    &__head {
        z-index: 1;
        @include sticky-top();
    }

    &__sort-icon-container {
        display: flex;
        justify-content: center;

        color: inherit;

        &_shadow {
            opacity: 0.15;
        }
    }

    &__sort-icon {
        &_desc {
            transform: rotate(180deg);
        }
    }

    &__head-cell-wrapper {
        display: flex;
        overflow-x: hidden;

        border-bottom: $cell-border;

        &_resizeable {
            resize: horizontal;
        }
    }

    &__head-cell,
    &__row-cell {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        max-width: 100%;
        padding: var(--virtual-table-cell-vertical-padding)
            var(--virtual-table-cell-horizontal-padding);

        &_align {
            &_left {
                justify-content: left;
            }
            &_center {
                justify-content: center;
            }
            &_right {
                justify-content: right;
            }
        }
    }

    &__row-cell {
        overflow-x: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        border-bottom: $cell-border;
    }

    &__head-cell {
        gap: 8px;

        font-weight: bold;
        cursor: default;

        &_sortable {
            cursor: pointer;

            &#{$block}__head-cell_align_right {
                flex-direction: row-reverse;
            }
        }
    }

    // Separate head cell content class for correct text ellipsis overflow
    &__head-cell-content {
        overflow: hidden;

        width: min-content;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
