@import '../../../../styles/mixins.scss';

.kv-preview {
    height: 100%;
    @include flex-container();
    @include query-data-table();
    &__header {
        position: sticky;
        top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 53px;
        padding: 0 20px;

        border-bottom: 1px solid var(--g-color-line-generic);
        background-color: var(--g-color-base-background);
    }

    &__title {
        display: flex;
        gap: var(--g-spacing-1);
    }

    &__table-name {
        margin-left: var(--g-spacing-1);

        color: var(--g-color-text-complementary);
    }

    &__controls-left {
        display: flex;
        gap: var(--g-spacing-1);
    }
    &__message-container {
        padding: 15px 20px;
    }

    &__loader-container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    &__result {
        overflow: auto;

        width: 100%;
        padding-left: 10px;
    }
}
