@use '../../../../styles/mixins.scss';

.ydb-preview {
    height: 100%;
    @include mixins.flex-container();
    @include mixins.query-data-table();
    &__header {
        position: sticky;
        top: 0;

        flex-shrink: 0;

        height: 53px;
        padding: 0 var(--g-spacing-6);

        border-bottom: 1px solid var(--g-color-line-generic);
        background-color: var(--g-color-base-background);
    }

    &__table-name {
        margin-left: var(--g-spacing-1);

        color: var(--g-color-text-complementary);
    }

    &__controls-left {
        display: flex;
        gap: var(--g-spacing-1);
    }
    &__message-container {
        padding: 15px 20px;
    }

    &__result {
        overflow: auto;

        width: 100%;
        padding-left: var(--g-spacing-5);
    }

    &__partition-info {
        height: 36px;
        padding-left: var(--g-spacing-1);
    }
}
