@use '../../../../styles/mixins.scss';

.ydb-diagnostics-topic-data {
    &__partition-select {
        min-width: 150px;
    }

    &__full-value {
        max-width: 70vw;
        max-height: 80vh;

        word-break: break-all;
    }
    &__date-picker {
        min-width: 265px;
    }
    &__column-setup {
        margin-left: auto;
    }

    &__row {
        &_active {
            background-color: var(--g-color-base-selection);

            &:hover {
                background: var(--g-color-base-selection-hover) !important;
            }
        }
        &_removed {
            color: var(--g-color-text-secondary);
        }
    }
}
