@import '../../styles/mixins.scss';

.header {
    display: flex;
    flex: 0 0 40px;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px 0 18px;

    font-weight: 600;

    border-bottom: 1px solid var(--yc-color-line-generic);

    @include body2-typography;
}
