.header {
    display: flex;
    flex: 0 0 40px;
    justify-content: space-between;
    align-items: center;

    padding: 0 var(--g-spacing-5);

    border-bottom: 1px solid var(--g-color-line-generic);

    .g-breadcrumbs__item_current {
        height: min-content;
    }

    &__breadcrumbs {
        display: flex;
        flex-grow: 1;
    }

    &__breadcrumbs-item {
        color: var(--g-color-text-secondary);

        .ydb-link:hover {
            color: var(--g-color-text-complementary);
        }

        &_active {
            color: var(--g-color-text-primary);
        }
    }

    &__breadcrumbs-icon {
        display: flex;
        align-items: center;
    }

    &__remove-db {
        // !important to prevent color from .g-menu__item
        color: var(--ydb-color-status-red) !important;
    }
}
