.ydb-diagnostics-partitions-columns {
    &__lags-header {
        text-align: center;
    }

    &__committed-offset-cell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;

        width: 100%;
    }

    &__committed-offset-switcher {
        opacity: 0;

        transition: opacity 0.15s ease-in-out;

        .data-table__row:hover &,
        &_open {
            opacity: 1;
        }
    }
}
