.usage-filter {
    min-width: 100px;

    &__option {
        flex-grow: 1;

        &-title {
            height: var(--yc-text-body-1-line-height);

            font-size: var(--yc-text-body-1-font-size);
            line-height: var(--yc-text-body-1-line-height);
        }

        &-meta {
            position: relative;

            padding: 0 5px;

            font-size: var(--yc-text-caption-2-font-size);
            line-height: var(--yc-text-caption-2-line-height);

            border-radius: 3px;
        }

        &-bar {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;

            border-radius: 3px;
            background-color: var(--yc-color-infographics-info-medium);
        }
    }
}
