@import '../../../styles/mixins.scss';

.object-general {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    width: 100%;
    height: 100%;
    max-height: 100%;

    &__tabs {
        display: flex;
        gap: 20px;

        padding: 13px 20px 0;

        box-shadow: inset 0 -1px 0 0 var(--yc-color-line-generic);
        .yc-tabs {
            box-shadow: unset;
        }
    }
    &__tab {
        text-decoration: none;

        // fix for bug in uikit, gap is set for yc-tabs__item:not(:last-child),
        // it doesn't work for wrapped items
        // feel free to remove if the bug is fixed
        &:not(:last-child) {
            margin-right: var(--yc-tabs-gap);
        }
    }

    &__loader {
        display: flex;
    }
}
