@use '../../../../../styles/mixins.scss';

.tenant-memory {
    &__main-progress-container {
        margin-bottom: var(--g-spacing-4);
    }

    &__main-progress-bar {
        display: flex;
        overflow: hidden;

        height: 20px;

        border-radius: var(--g-border-radius-xs);
        background: var(--g-color-base-generic);
    }

    &__main-segment {
        &:first-child {
            border-radius: var(--g-border-radius-xs) 0 0 var(--g-border-radius-xs);
        }

        &:last-child {
            border-radius: 0 var(--g-border-radius-xs) var(--g-border-radius-xs) 0;
        }

        &:only-child {
            border-radius: var(--g-border-radius-xs);
        }
    }

    &__popup-container {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-2);
    }

    &__popup-legend {
        flex-shrink: 0;

        width: 12px;
        height: 12px;

        border-radius: var(--g-border-radius-xs);
    }

    &__popup-name {
        color: var(--g-color-text-primary);
    }

    &__value-text {
        flex-shrink: 0;

        min-width: 84px;

        text-align: right;
        white-space: nowrap;

        color: var(--g-color-text-secondary);
        @include mixins.body-1-typography();
    }
}
