.nv-aside-header {
    --nv-aside-header-min-width: 56px;
    $class: &;
    position: relative;

    width: 100%;

    height: 100%;

    background-color: var(--yc-color-base-background);

    &__aside {
        position: sticky;
        z-index: 100;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        width: inherit;
        height: 100vh;

        border-right: 1px solid var(--yc-color-line-generic);
        background-color: var(--yc-color-base-background);

        &-popup-anchor {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &-content {
            position: relative;
            z-index: 2;

            display: flex;
            overflow-x: hidden;
            flex-direction: column;

            width: inherit;
            height: inherit;

            user-select: none;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        width: 100%;
        margin: 8px 0;

        &::before {
            position: relative;
            top: -8px;

            content: '';

            border-top: 1px solid var(--yc-color-line-generic);
        }
    }

    &__drawer {
        position: fixed;
        z-index: 98;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: auto;
    }

    &__panel {
        height: 100%;
    }

    &__content-container {
        height: 100%;
    }

    &__pane-container {
        display: flex;
        overflow: visible;
        flex: 1 1 0;
        flex-direction: row;

        user-select: text;

        outline: none;
    }

    &__content {
        z-index: 90;

        width: calc(100% - var(--nv-aside-header-size));
    }

    &__all-services-button {
        &_top {
            box-sizing: border-box;

            border-bottom: 1px solid var(--yc-color-line-generic);
        }
    }

    &__collapse-button {
        position: absolute;
        z-index: 3;
        right: 14px;
        bottom: 14px;

        width: 28px;
        height: 28px;

        transition: none;
        &_compact {
            right: -29px;

            border: 1px solid var(--yc-color-line-generic);
            border-left: none;
            border-radius: 0 4px 4px 0;
            background-color: inherit;

            &.yc-button::before {
                border-radius: 0 3px 3px 0;
            }
        }

        &:not(#{&}_compact) {
            transform: rotate(180deg);
        }

        &:hover {
            color: var(--yc-color-text-misc);
        }
    }

    &__collapse-icon {
        color: var(--yc-color-text-misc);
    }
}
