.ydb-storage-disks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--g-spacing-4);

    width: max-content;

    &__pdisks-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: left;

        width: max-content;
    }

    &__vdisk-item {
        flex-basis: 8px;
        flex-shrink: 0;
    }
    &__vdisk-progress-bar {
        --progress-bar-compact-height: 20px;

        border-radius: var(--g-border-radius-m);
    }

    &__pdisk-item {
        min-width: 55px;
        margin-right: var(--g-spacing-1);

        &_with-dc-margin {
            margin-right: var(--g-spacing-3);
        }

        &:last-child {
            margin-right: 0;
        }
    }
    &__pdisk-progress-bar {
        --progress-bar-full-height: 20px;

        border-radius: var(--g-border-radius-m);
    }
}
