.ydb-storage-disks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    width: max-content;

    &__pdisks-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: left;

        width: max-content;
    }

    &__vdisk-item {
        flex-basis: 8px;
        flex-shrink: 0;
    }
    &__vdisk-progress-bar {
        --progress-bar-compact-height: 18px;

        border-radius: 4px;
    }

    &__pdisk-item {
        min-width: 80px;
        margin-right: 4px;

        &_with-dc-margin {
            margin-right: 12px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
    &__pdisk-progress-bar {
        --progress-bar-full-height: 20px;

        text-align: left;
    }
}
