@use '../../styles//mixins.scss';

.ydb-vdisk-page {
    position: relative;

    overflow: auto;

    height: 100%;
    padding: 0 20px;

    &__meta,
    &__title,
    &__controls,
    &__info,
    &__tabs {
        position: sticky;
        left: 0;

        margin-bottom: 20px;
    }

    &__meta {
        margin-top: 20px;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-2);
    }

    &__tablets-content {
        margin-top: 16px;
    }
}
