.ydb-vdisk-storage-details {
    display: flex;
    flex-wrap: wrap;
    gap: var(--g-spacing-1);

    &__card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--g-spacing-5);

        min-width: 0;
        padding: var(--g-spacing-3) var(--g-spacing-5);

        border-radius: var(--g-border-radius-m) var(--g-border-radius-xs) var(--g-border-radius-xs)
            var(--g-border-radius-m);
        background-color: var(--g-color-base-generic);

        &_ids {
            border-radius: var(--g-border-radius-xs) var(--g-border-radius-m)
                var(--g-border-radius-m) var(--g-border-radius-xs);
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-half);

        min-width: 0;
        max-width: 250px;
    }

    &__value-popover {
        flex: 0 1 auto;

        min-width: 0;
        max-width: 100%;
    }

    &__value-popover-content {
        width: auto;
        min-width: 0;
        max-width: 100%;

        &_with-left-trim {
            text-align: end;
            direction: rtl;

            > span {
                unicode-bidi: plaintext;
            }
        }
    }
}
