@import '../../styles//mixins.scss';

.ydb-page-meta {
    display: flex;
    flex-flow: row nowrap;

    height: var(--g-text-body-2-line-height);

    text-wrap: nowrap;

    color: var(--g-color-text-primary);

    @include body-2-typography();

    &__skeleton {
        width: 80%;
        height: 80%;
    }
}
