@use '../../styles/mixins.scss';

.ydb-configs {
    --ydb-table-with-controls-layout-controls-height: var(--ydb-configs-controls-height);
    --configs-padding-bottom: var(--g-spacing-4);
    --ydb-json-viewer-toolbar-top: var(--data-table-sticky-header-offset);
    --ydb-syntax-highlighter-height: calc(
        var(--ydb-configs-container-height) - var(
                --ydb-table-with-controls-layout-controls-height
            ) - var(--configs-padding-bottom)
    );

    padding-bottom: var(--configs-padding-bottom);

    &__feature-flags {
        --ydb-table-with-controls-layout-controls-padding-top: 0px;
        --data-table-start: calc(
            var(--sticky-tabs-height, 0px) + var(--ydb-configs-controls-height)
        );
        --ydb-table-with-controls-layout-controls-height: 44px;
    }
    &__startup {
        pre {
            border-radius: 4px;
        }
    }
}
