.ydb-storage-vdisks {
    &__wrapper {
        display: flex;
    }

    &__item {
        width: 90px;
        margin-right: 6px;

        &_with-dc-margin {
            margin-right: 12px;
        }

        &:last-child {
            margin-right: 0px;
        }

        .stack__layer {
            .data-table__row:hover & {
                background: var(--ydb-data-table-color-hover);
            }
        }
    }
}
