.ydb-storage-vdisks {
    &__wrapper {
        display: flex;
    }

    &__item {
        width: 55px;
        margin-right: var(--g-spacing-1);

        &_with-dc-margin {
            margin-right: var(--g-spacing-3);
        }

        &:last-child {
            margin-right: 0px;
        }

        .stack__layer {
            .data-table__row:hover & {
                background: var(--ydb-data-table-color-hover);
            }
        }
    }

    &__vdisks-progress-bar {
        border-radius: var(--g-border-radius-m);
    }
}
