@use '../../styles/mixins.scss';

.entity-status {
    --button-width: 28px;
    position: relative;

    display: inline-flex;
    align-items: center;

    max-width: 100%;
    height: 100%;

    @include mixins.body-2-typography();

    &__icon {
        margin-right: var(--g-spacing-2);
    }

    &__info-icon,
    &__clipboard-button {
        color: var(--g-color-text-secondary);

        @include mixins.table-hover-appearing-button();

        &_visible {
            opacity: 1;
        }
    }

    &__info-icon {
        &:hover {
            color: var(--g-color-text-primary);
        }
    }

    &__wrapper {
        position: relative;

        overflow: hidden;

        &_with-clipboard-button {
            padding-right: var(--button-width);
        }

        &_with-info-button {
            padding-right: var(--button-width);
        }

        &_with-clipboard-button {
            &.entity-status__wrapper_with-info-button {
                padding-right: calc(2 * var(--button-width));
            }
        }
    }

    &__controls-wrapper {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        align-items: center;
        gap: var(--g-spacing-1);

        width: 0;
        height: 100%;

        &_visible {
            width: min-content;
            padding: var(--g-spacing-1);

            background-color: var(--g-color-base-background);
        }

        .data-table__row:hover &,
        .ydb-paginated-table__row:hover &,
        .ydb-tree-view__item & {
            width: min-content;
            padding: var(--g-spacing-1);

            background-color: var(--ydb-data-table-color-hover);
        }
    }

    &__label {
        margin-right: 2px;

        color: var(--g-color-text-complementary);

        @include mixins.body-2-typography();

        &_size_l {
            font-size: var(--g-text-header-2-font-size);
        }
    }

    &__link {
        display: inline-block;
        overflow: hidden;

        width: 100%;
        margin-top: 5px;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__wrapper_with-clipboard-button &__link {
        width: calc(100% + var(--button-width));
    }

    &__wrapper_with-info-button &__link {
        width: calc(100% + var(--button-width));
    }

    &__wrapper_with-clipboard-button {
        &.entity-status__wrapper_with-info-button .entity-status__link {
            width: calc(100% + 2 * var(--button-width));
        }
    }

    &__link_with-left-trim {
        text-align: end;
        direction: rtl;

        .entity-status__name {
            unicode-bidi: plaintext;
        }
    }

    &__label {
        &_state_blue {
            color: var(--ydb-color-status-blue);
        }
        &_state_yellow {
            color: var(--ydb-color-status-yellow);
        }
        &_state_orange {
            color: var(--ydb-color-status-orange);
        }
        &_state_red {
            color: var(--ydb-color-status-red);
        }
    }
}
