.entity-status {
    display: inline-flex;
    align-items: center;

    max-width: 100%;
    height: 100%;

    font-size: var(--yc-text-body-2-font-size);
    line-height: var(--yc-text-body-2-line-height);

    &__clipboard-button {
        display: none;
        align-items: center;

        margin-left: 8px;

        color: var(--yc-color-text-secondary);

        .yc-button__text {
            margin: 0;
        }

        .yc-clipboard-button {
            width: 24px;
            height: 24px;
        }

        &_visible {
            display: inline-flex;
        }
    }

    a {
        text-decoration: none;

        color: var(--yc-color-text-link);
    }

    a:hover {
        color: var(--yc-color-text-link-hover);
    }

    &__label {
        margin-right: 2px;

        font-size: var(--yc-text-body-2-font-size);
        line-height: var(--yc-text-body-2-line-height);

        color: var(--yc-color-text-complementary);

        &_size_l {
            font-size: var(--yc-text-header-2-font-size);
        }

        &_state_blue {
            color: var(--yc-color-infographics-info-heavy);
        }
        &_state_yellow {
            color: var(--yc-color-infographics-warning-heavy);
        }
        &_state_orange {
            color: var(--yc-color-base-warning-orange);
        }
        &_state_red {
            color: var(--yc-color-infographics-danger-heavy);
        }
    }

    &__link {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__link_with-left-trim {
        direction: rtl;

        .entity-status__name {
            unicode-bidi: plaintext;
        }
    }

    &__status-color,
    &__status-icon {
        flex-shrink: 0;

        margin-right: 8px;

        border-radius: 3px;
        &_size_xs {
            aspect-ratio: 1;

            width: 12px;
            height: 12px;
        }
        &_size_s {
            aspect-ratio: 1;

            width: 16px;
            height: 16px;
        }
        &_size_m {
            aspect-ratio: 1;

            width: 18px;
            height: 18px;
        }

        &_size_l {
            aspect-ratio: 1;

            width: 27px;
            height: 27px;
        }
    }

    &__status-color {
        &_state_running,
        &_state_green {
            background-color: var(--yc-color-infographics-positive-heavy);
        }
        &_state_yellow {
            background-color: var(--yc-color-infographics-warning-heavy);
        }
        &_state_blue {
            background-color: var(--yc-color-infographics-info-heavy);
        }

        &_state_red {
            background: var(--yc-color-infographics-danger-heavy);
        }
        &_state_gray,
        &_state_grey {
            background: var(--yc-color-text-complementary);
        }
        &_state_orange {
            background: var(--yc-color-base-warning-orange);
        }
    }

    &__status-icon {
        &_state_blue {
            color: var(--yc-color-infographics-info-heavy);
        }
        &_state_yellow {
            color: var(--yc-color-infographics-warning-heavy);
        }
        &_state_orange {
            color: var(--yc-color-base-warning-orange);
        }
        &_state_red {
            color: var(--yc-color-infographics-danger-heavy);
        }
    }

    &_size_m {
        font-size: var(--yc-text-body-2-font-size);
        line-height: var(--yc-text-body-2-line-height);
    }
}
