@use '../../styles/mixins.scss';

.ydb-entity-status {
    &__accessible-name {
        position: absolute;

        overflow: hidden;
        clip: rect(0 0 0 0);

        width: 1px;
        height: 1px;

        white-space: nowrap;
        clip-path: inset(50%);
    }

    &__note {
        color: inherit;
    }

    &_critical {
        @include mixins.danger-heavy-label();
    }
}
