.entity-status {
    display: inline-flex;
    align-items: center;

    max-width: 100%;
    height: 100%;

    font-size: var(--yc-text-body2-font-size);
    line-height: var(--yc-text-body2-line-height);

    &__clipboard-button {
        display: flex;
        visibility: hidden;
        align-items: center;

        margin-left: 8px;

        color: var(--yc-color-text-secondary);

        .yc-button__text {
            margin: 0 4px;
        }

        &_visible {
            visibility: visible;
        }
    }

    a {
        overflow: hidden;

        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        color: var(--yc-color-text-link);
    }

    a:hover {
        color: var(--yc-color-text-link-hover);
    }

    &__label {
        margin-right: 2px;

        font-size: var(--yc-text-body2-font-size);
        line-height: var(--yc-text-body2-line-height);

        color: var(--yc-color-text-complementary);
    }

    &__name {
        white-space: nowrap;
    }

    &__status-icon {
        margin-right: 8px;

        border-radius: 3px;
        &_size_xs {
            aspect-ratio: 1;

            height: 12px;
        }
        &_size_s {
            aspect-ratio: 1;

            height: 16px;
        }
        &_size_m {
            aspect-ratio: 1;

            height: 18px;
        }

        &_state_running,
        &_state_green {
            background-color: var(--yc-color-infographics-positive-heavy);
        }
        &_state_yellow {
            background-color: var(--yc-color-infographics-warning-heavy);
        }
        &_state_blue {
            background-color: var(--yc-color-infographics-info-heavy);
        }

        &_state_red {
            background: var(--yc-color-infographics-danger-heavy);
        }
        &_state_gray,
        &_state_grey {
            background: var(--yc-color-text-complementary);
        }
        &_state_orange {
            background: var(--yc-color-text-warning-heavy);
        }
    }

    &_size_m {
        font-size: var(--yc-text-body2-font-size);
        line-height: var(--yc-text-body2-line-height);
    }
}
