.schema-viewer {
    &__key-icon {
        display: flex;
        align-items: center;
    }

    &__skeleton {
        display: flex;
        flex-direction: column;

        width: 100%;
        gap: 8px;
    }

    &__skeleton-item {
        height: 40px;
    }
}
