@use '../../../../../styles/mixins.scss';

.ydb-diagnostics-table-info {
    $progress-bar-max-width: 656px;
    $column-width: 310px;
    $partitions-popover-max-width: 360px;

    &__header {
        max-width: $progress-bar-max-width;
        margin-bottom: 10px;
    }

    &__title {
        @include mixins.info-viewer-title();
    }

    &__progress-bar {
        max-width: $progress-bar-max-width;
        padding: var(--g-spacing-3) 0 var(--g-spacing-4);
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--g-spacing-9);

        &_general-info {
            margin-bottom: var(--g-spacing-1);
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        width: $column-width;
    }

    &__info-block {
        --g-definition-list-item-gap: var(--g-spacing-3);
        margin-bottom: var(--g-spacing-4);
    }

    &__info-title {
        margin: 0 0 var(--g-spacing-4);
    }

    &__partitions-popover {
        max-width: $partitions-popover-max-width;
        padding: var(--g-spacing-2);

        font-size: var(--g-text-body-1-font-size);
        line-height: var(--g-text-body-1-line-height);
    }

    &__status-icon {
        display: inline-flex;
        align-items: center;

        &_state_enabled {
            color: var(--g-color-base-positive-heavy);
        }

        &_state_disabled {
            color: var(--g-color-base-neutral-medium);
        }
    }

    &__show-more-disclosure {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
