@import '../../../../../styles/mixins.scss';

.ydb-diagnostics-table-info {
    overflow: auto;

    &__title {
        @include info-viewer-title();
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__info-block {
        margin-bottom: 20px;

        .info-viewer__items {
            grid-template-columns: minmax(max-content, 280px);
        }
    }
}
