@use '../../../../../styles/mixins.scss';

.ydb-diagnostics-table-info {
    &__title {
        margin-bottom: 10px;

        font-weight: 600;
        @include mixins.body-2-typography();
    }

    &__progress-bar {
        max-width: 656px;
        padding: var(--g-spacing-3) 0 var(--g-spacing-4);
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--g-spacing-9);

        &:not(:last-child) {
            margin-bottom: var(--g-spacing-1);
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        width: 310px;
    }

    &__info-block {
        --g-definition-list-item-gap: var(--g-spacing-3);
        margin-bottom: var(--g-spacing-4);
    }

    &__info-title {
        margin: 0 0 var(--g-spacing-4);
    }

    &__partitions-popover {
        max-width: 360px;
        padding: var(--g-spacing-2);

        font-size: var(--g-text-body-1-font-size);
        line-height: var(--g-text-body-1-line-height);
    }
}
