@import '../../styles/mixins.scss';

.cluster {
    position: relative;

    overflow: auto;
    flex-grow: 1;

    height: 100%;
    padding: 0 20px;

    &__header {
        position: sticky;
        left: 0;

        padding: 20px 0;
    }

    &__title {
        font-weight: var(--g-text-header-font-weight);
        @include header-1-typography();
    }

    &__title-skeleton {
        width: 20%;
        min-width: 200px;
        height: var(--g-text-header-1-line-height);
    }

    &__tabs-sticky-wrapper {
        z-index: 3;

        margin-top: 20px;
        margin-right: -20px;
        padding-right: 20px;
        @include sticky-top();
    }
    &__tabs {
        display: flex;
        @include tabs-wrapper-styles();
    }

    &__sticky-wrapper {
        position: sticky;
        z-index: 4;
        top: 66px;
        left: 0;
    }

    &__auto-refresh-control {
        float: right;

        margin-top: -46px;

        background-color: var(--g-color-base-background);
    }
    .ydb-table-with-controls-layout__controls-wrapper {
        top: 40px;
    }

    &__tablets {
        .data-table__sticky_moving {
            // Place table head right after controls
            top: 60px !important;
        }
    }

    &__fake-block {
        position: sticky;
        z-index: 3;
        top: 40px;

        height: 20px;

        background-color: var(--g-color-base-background);
    }
}
