@import '../../styles/mixins.scss';

.cluster {
    overflow: auto;
    flex-grow: 1;

    height: 100%;
    padding: 0 20px;

    @include flex-container();

    &__header {
        position: sticky;
        left: 0;

        padding: 20px 0;
    }

    &__title {
        font-weight: var(--g-text-header-font-weight);
        @include header-1-typography();
    }

    &__title-skeleton {
        width: 20%;
        min-width: 200px;
        height: var(--g-text-header-1-line-height);
    }

    &__tabs {
        position: sticky;
        left: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tabs-wrapper-styles();
    }

    &__sticky-wrapper {
        position: sticky;
        z-index: 4;
        top: 56px;
        left: 0;
    }

    &__auto-refresh-control {
        float: right;

        margin-top: -40px;

        background-color: var(--g-color-base-background);
    }
}
