@use '../../styles/mixins.scss';

.ydb-cluster {
    position: relative;

    overflow: auto;
    flex-grow: 1;

    height: 100%;
    padding: 0 20px;

    &__header {
        position: sticky;
        left: 0;

        padding: 20px 0;
    }

    &__title {
        font-weight: var(--g-text-header-font-weight);
        @include mixins.header-1-typography();
    }

    &__title-skeleton {
        width: 20%;
        min-width: 200px;
        height: var(--g-text-header-1-line-height);
    }

    &__tabs-sticky-wrapper {
        z-index: 3;

        margin-top: 20px;
        margin-right: -40px;
        padding-right: 40px;
        padding-left: 20px;

        transform: translateX(-20px);
        @include mixins.sticky-top();
    }
    &__tabs {
        display: flex;
        @include mixins.tabs-wrapper-styles();
    }

    &__sticky-wrapper {
        position: sticky;
        z-index: 4;
        top: 66px;
        left: 0;
    }

    &__auto-refresh-control {
        float: right;

        margin-top: -46px;

        background-color: var(--g-color-base-background);
    }
    .ydb-table-with-controls-layout__controls-wrapper {
        top: 40px;
    }

    .ydb-table-with-controls-layout {
        --data-table-sticky-top-offset: 102px;
    }
}
