.global-storage-groups {
    &__vdisks-column {
        overflow: visible; // to enable stacked disks overflow the row
    }

    &__vdisks-wrapper {
        display: flex;
        justify-content: center;

        min-width: 500px;
    }
    &__vdisks-item {
        flex-grow: 1;

        max-width: 200px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0px;
        }

        .stack__layer {
            background: var(--yc-color-base-background);

            .data-table__row:hover & {
                background: var(--ydb-data-table-color-hover);
            }
        }
    }
    &__pool-name-wrapper {
        width: 230px;
    }

    &__group-id {
        font-weight: 500;
    }
}
