@use '../../styles/mixins.scss';

.ydb-table-with-controls-layout {
    --data-table-sticky-top-offset: 62px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 100%;

    &__controls-wrapper {
        z-index: 3;

        box-sizing: border-box;
        width: 100%;

        @include mixins.sticky-top();
    }

    &__controls {
        z-index: 3;

        width: 100%;
        height: 62px;

        @include mixins.controls();
        @include mixins.sticky-top();
    }

    &__table {
        position: relative;
        z-index: 2;
    }

    .ydb-paginated-table__head {
        top: var(--data-table-sticky-top-offset, 62px);
    }

    .data-table__sticky_moving {
        // Place table head right after controls
        top: var(--data-table-sticky-top-offset, 62px) !important;
    }
}
