on:
  release:
    types: [released]

name: Publication

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  publication:
    runs-on: ubuntu-latest
    env:
      ASSET_NAME: embedded-ui
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ''
          NPM_TOKEN: ''
      - run: npm run build:embedded:archive
      - run: gh release upload ${{ github.event.release.tag_name }} $ASSET_NAME.zip
        env:
          GITHUB_TOKEN: ${{ secrets.YDB_PLATFORM_BOT_TOKEN_REPO }}
      - name: Embedded UI Refresh Event Dispatch
        uses: peter-evans/repository-dispatch@v2
        continue-on-error: true
        with:
          token: ${{ secrets.YDB_PLATFORM_BOT_TOKEN_REPO }}
          repository: ydb-platform/ydb
          event-type: embedded_ui_refresh
          client-payload: |
            {
              "tag_name": "${{ github.event.release.tag_name }}",
              "asset_name": "${{ env.ASSET_NAME }}",
              "repository": "${{ github.repository }}"
            }
