.tablet {
    cursor: pointer;

    color: var(--g-color-text-complementary);
    border-color: var(--g-color-base-generic-medium-hover);

    &__wrapper {
        margin-right: 2px;
        margin-bottom: 2px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__popup-content {
        padding: 10px;
    }

    &_status_gray {
        background-color: var(--ydb-color-status-grey);
    }
    &_status_yellow {
        background-color: var(--ydb-color-status-yellow);
    }
    &_status_orange {
        background-color: var(--ydb-color-status-orange);
    }
    &_status_red {
        background-color: var(--ydb-color-status-red);
    }
    &_status_green {
        background-color: var(--ydb-color-status-green);
    }
    &_status_blue {
        background-color: var(--ydb-color-status-blue);
    }
    &_status_black {
        background-color: var(--ydb-color-status-black);
    }
}
