@use '../../../../../styles/mixins.scss';

.ydb-nodes-state {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    min-width: 26px;
    height: 20px;
    padding: 0 var(--g-spacing-1);

    color: var(--entity-state-font-color);
    border-radius: var(--g-spacing-1);
    background-color: var(--entity-state-background-color);
    @include mixins.entity-state-colors();
}
