@use '../../../../styles/mixins.scss';

.ydb-diagnostics-partitions {
    overflow: auto;
    flex-grow: 1;

    height: 100%;

    @include mixins.flex-container();

    &__controls {
        @include mixins.controls();
    }

    &__consumer-select {
        width: 220px;
    }

    &__select-option_empty {
        color: var(--g-color-text-hint);
    }

    &__search {
        @include mixins.search();
        &_partition {
            width: 100px;
        }
        &_general {
            width: 280px;
        }
    }

    &__table-wrapper {
        overflow: auto;
        @include mixins.flex-container();
    }

    &__table-content {
        overflow: auto;

        height: 100%;
    }

    &__table {
        @include mixins.freeze-nth-column(1);
    }
}
