@use '../../../../../../styles/mixins.scss';

.issue-tree {
    display: flex;

    &__block {
        width: 100%;
    }

    &__checkbox {
        margin: 5px 0 10px;
    }

    &__info-panel {
        position: sticky;

        height: 100%;
        margin: 11px 0;
        padding: 8px 20px;

        border-radius: 4px;
        background: var(--g-color-base-generic);
    }

    &__inspector {
        :not(.json-inspector__leaf_expanded).json-inspector__leaf_composite:before {
            content: '';
        }
        .json-inspector__leaf_expanded.json-inspector__leaf_composite:before {
            content: '';
        }

        & .json-inspector {
            &__line:hover:after {
                background: transparent;
            }
            &__show-original:hover:after,
            &__show-original:hover:before {
                color: transparent;
            }

            &__value_helper {
                display: none;
            }

            &__value {
                overflow: hidden;

                word-break: break-all;

                & > span {
                    user-select: all;
                }
            }
        }
    }

    .ydb-tree-view {
        $calculated-margin: calc(24px * var(--ydb-tree-view-level));

        &__item {
            height: 40px;
        }

        .tree-view_arrow {
            width: 40px;
            height: 40px;
        }

        // Without !important this class does not have enough weight compared to styles set in TreeView
        .ydb-tree-view__item {
            margin-left: $calculated-margin !important;
            padding-left: 0 !important;
        }

        .issue-tree__info-panel {
            margin-left: $calculated-margin;
        }
    }
}
